{% extends 'private/admin/baseAdmin.html.twig' %}

{% block body %}

    <div class="menu-admin menu-project">
        <ul>
            <li>
                <a href="{{ path('admin_partner_index') }}" data-toggle="tooltip" data-placement="right"
                   title="Liste Partners"><i class="fa fa-archive fa-admin"></i></a>
            </li>
            <li>
                <a href="{{ path('admin_partner_new') }}" data-toggle="tooltip" data-placement="right"
                   title="Nouveau Partenaire"><i
                            class="fa fa-plus fa-admin"></i></a>
            </li>
        </ul>
    </div>

    <h1>Liste des partenaires</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Poste</th>
            <th>Téléphone</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for partner in partners %}
            <tr>
                <td><a href="{{ path('admin_partner_show', { 'id': partner.id }) }}">{{ partner.id }}</a></td>
                <td>{{ partner.firstName }}</td>
                <td>{{ partner.lastName }}</td>
                <td>{{ partner.occupation }}</td>
                <td>{{ partner.phone }}</td>
                <td>{{ partner.email }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_partner_show', { 'id': partner.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_partner_edit', { 'id': partner.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation text-center">
        {{ knp_pagination_render(partners) }}
    </div>

{% endblock %}
