{% extends 'private/admin/baseAdmin.html.twig' %}

{% block body %}
    <h1>Partner</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ partner.id }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ partner.firstName }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ partner.lastName }}</td>
            </tr>
            <tr>
                <th>poste</th>
                <td>{{ partner.occupation }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ partner.phone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ partner.email }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_partner_index') }}">Retour à la liste</a>
        </li>
        <li>
            <a href="{{ path('admin_partner_edit', { 'id': partner.id }) }}">Edition</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
