{% extends 'private/admin/baseAdmin.html.twig' %}

{% block body %}
    <div class="menu-admin menu-publicpage">
        <ul>
            <li>
                <a href="{{ path('admin_publicpage_index') }}" data-toggle="tooltip" data-placement="right"
                   title="Liste Pages publiques"><i class="fa fa-book fa-admin"></i></a>
            </li>
            <li class="submitForm">
                <a data-toggle="tooltip"
                   data-placement="right"
                   title="Validé"><i class="fa fa-check fa-admin"></i></a>
            </li>
        </ul>
    </div>
    <h1>Modifier la page publique</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    {{ form_end(edit_form) }}

{% endblock %}
{% block javascripts %}
    <script>
        $(".submitForm").click(function () {
            $("form[name='{{ edit_form.vars.name }}']").submit();
        });
    </script>
{% endblock %}
