{% extends 'private/admin/baseAdmin.html.twig' %}

{% block body %}
    <div class="menu-admin menu-publicpage">
        <ul>
            <li>
                <a href="{{ path('admin_publicpage_index') }}" data-toggle="tooltip" data-placement="right"
                   title="Liste Utilisateur"><i class="fa fa-users fa-admin"></i></a>
            </li>
            <li>
                <a href="{{ path('admin_publicpage_new') }}" data-toggle="tooltip" data-placement="right" title="Nouvel Utilisateur"><i
                            class="fa fa-user-plus fa-admin"></i></a>
            </li>
        </ul>
    </div>
    <h1>Publicpage creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('admin_publicpage_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
