<div class="navbar navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="row">
                <div class="col-md-12 hidden-xs hidden-sm">
                    <p><i class="fa fa-quote-left"></i> Des maires au service des maires</p>
                </div>
                <div class="col-md-3 col-xs-10 col-sm-6 visible-xs visible-sm">
                    <a href="{{ path('home') }}"><img src="{{ asset('/img/AMRF.png') }}" alt=""></a>
                </div>
                <div class="col-xs-2">
                    <button type="button" class="navbar-toggle collapsed text-right" data-toggle="collapse"
                            data-target="#navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
            </div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a {% if app.request.attributes.get('_route') == 'home' %} class="active" {% endif %}
                            href="{{ path('home') }}">Accueil</a>
                </li>
                <li>
                    <a {% if app.request.attributes.get('_route') == 'amrf' %} class="active" {% endif %}
                            href="{{ path('amrf') }}">AMRF</a>
                </li>
                <li>
                    <a {% if app.request.attributes.get('_route') == 'contact' %} class="active" {% endif %}
                            href="{{ path('contact') }}">Contact</a>
                </li>

                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') == false %}
                    <li class="visible-xs visible-md visible-sm">
                        <a data-toggle="modal" data-target="#formConnect" href="#formConnect">Connexion</a>
                    </li>
                {% endif %}

                {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <a href="{{ path('admin_index') }}">Administration</a>
                    </li>
                {% endif %}

                {% if is_granted('ROLE_MAYOR') %}
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle hidden-xs" href="#">Mon Espace <i
                                    class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu scroll-in hidden-xs">
                            <li><a href="{{ path('mayor_index') }}">Mon Espace</a></li>
                            <li class="dropdown-header">Projet</li>
                            <li><a tabindex="-1" href="{{ path('search') }}">Rechercher</a></li>
                            <li><a tabindex="-1" href="{{ path('mayor_project_new') }}">Créer</a></li>
                            <li><a tabindex="-1" href="{{ path('mayor_project') }}">Consulter</a></li>
                            <li><a tabindex="-1" href="{{ path('mayor_favorite') }}">Favoris</a></li>
                            <li class="dropdown-header">Profil</li>
                            <li><a href="{{ path('mayor_profil') }}">Modifier</a></li>
                            <li class="dropdown-header">Mot de passe</li>
                            <li><a href="{{ path('change_password') }}">Changer</a></li>
                            <li class="dropdown-header">Partenaires</li>
                            <li><a tabindex="-1" href="{{ path('directory') }}">Trouver</a></li>
                            <li><a tabindex="-1" href="{{ path('mayor_favorite') }}">Favoris</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a tabindex="-1" href="#">Déconnexion</a></li>
                        </ul>
                        <ul class="dropdown-menu scroll-in visible-xs">
                            <li class="col-xs-12">
                                <ul>
                                    <li><a href="{{ path('mayor_index') }}">Mon Espace</a></li>
                                </ul>
                            </li>
                            <li class="col-xs-6">
                                <ul>
                                    <li class="dropdown-header">Projet</li>
                                    <li><a tabindex="-1" href="{{ path('search') }}">Rechercher</a></li>
                                    <li><a tabindex="-1" href="{{ path('mayor_project') }}">Consulter</a></li>
                                    <li><a tabindex="-1" href="{{ path('mayor_favorite') }}">Favoris</a></li>
                                </ul>
                            </li>
                            <li class="col-xs-6">
                                <ul>
                                    <li class="dropdown-header">Profil</li>
                                    <li><a href="{{ path('mayor_profil') }}">Modifier</a></li>
                                    <li class="dropdown-header">Mot de Passe</li>
                                    <li><a href="{{ path('change_password') }}">Changer</a></li>
                                    <li class="dropdown-header">Partenaires</li>
                                    <li><a tabindex="-1" href="{{ path('directory') }}">Trouver</a></li>
                                </ul>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a tabindex="-1" href="#">Déconnexion</a></li>
                        </ul>
                    </li>
                {% endif %}

                {% if is_granted('ROLE_PARTNER') %}

                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle hidden-xs" href="#">Mon Espace <i
                                    class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu scroll-in hidden-xs">
                            <li><a href="{{ path('partner_index') }}">Mon Espace</a></li>
                            <li class="dropdown-header">Projets</li>
                            <li><a tabindex="-1" href="{{ path('search') }}">Rechercher</a></li>
                            <li><a href="{{ path('partner_favorite') }}">Mes Favoris</a></li>
                            <li class="dropdown-header">Organisme</li>
                            <li><a href="{{ path('partner_press') }}">Ma fiche</a></li>
                            <li><a tabindex="-1" href="{{ path('directory') }}">Annuaire Partenaires</a></li>
                            <li class="dropdown-header">Mon profil</li>
                            <li><a href="{{ path('partner_profil') }}">Modifier</a></li>
                            <li class="dropdown-header">Mot de passe</li>
                            <li><a href="{{ path('change_password') }}">Changer</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Déconnexion</a></li>
                        </ul>
                        <ul class="dropdown-menu scroll-in visible-xs">
                            <li class="col-xs-12">
                                <ul>
                                    <li><a href="{{ path('partner_index') }}">Mon Espace</a></li>
                                </ul>
                            </li>
                            <li class="col-xs-6">
                                <ul>
                                    <li class="dropdown-header">Organisme</li>
                                    <li><a href="{{ path('partner_press') }}">Ma fiche</a></li>
                                    <li><a tabindex="-1" href="{{ path('directory') }}">Annuaire Partenaires</a></li>
                                    <li><a href="{{ path('partner_favorite') }}">Mes Favoris</a></li>
                                </ul>
                            </li>
                            <li class="col-xs-6">
                                <ul>
                                    <li class="dropdown-header">Projets</li>
                                    <li><a tabindex="-1" href="{{ path('search') }}">Rechercher</a></li>
                                    <li><a href="{{ path('partner_favorite') }}">Favoris</a></li>
                                    <li class="dropdown-header">Projets</li>
                                    <li><a tabindex="-1" href="{{ path('search') }}">Rechercher</a></li>
                                    <li><a href="{{ path('partner_favorite') }}">Mes Favoris</a></li>
                                    <li class="dropdown-header">Mon profil</li>
                                    <li><a href="{{ path('partner_profil') }}">Modifier</a></li>
                                    <li class="dropdown-header">Mot de passe</li>
                                    <li><a href="{{ path('change_password') }}">Changer</a></li>
                                </ul>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a tabindex="-1" href="#">Déconnexion</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>