<div class="panel-body row ">
    <div class="col-xs-12 col-md-8 breakLine">
        <p>{{ company.presentation|raw }}</p>
    </div>
    <div class="col-xs-12  col-sm-4 partAsideBlock">

        <h4>Adresse</h4>
        <ul>
            <li>{{ company.address }}</li>
            <li>{{ company.zipCode }} {{ company.city }}</li>
        </ul>
        <h4>Contact</h4>
        <ul>
            <li><i class="fa fa-user" aria-hidden="true"></i>

                {{ company.contactLastName }} {{ company.contactFirstName }}
            </li>
            <li><i class="fa fa-at"></i>
                {{ company.contactEmail }}
            </li>
            <li><i class="fa fa-phone" aria-hidden="true"></i>
                {{ company.contactPhone }}
            </li>
            <li><i class="fa fa-link"></i> {{ company.url }}</li>
            <li><i class="fa fa-facebook-square"></i> {{ company.facebook }}</li>
            <li><i class="fa fa-twitter-square"></i> {{ company.twitter }}</li>
            <li><i class="fa fa-linkedin-square"></i> {{ company.linkedin }} </li>
        </ul>

        <h4>Ajouter aux favoris</h4>
        {% if favorites is defined %}
            <button type="button" id="addFavorite"
                    class="btnFavoris {% if company.id in favorites %} hidden {% endif %}"
                    name="company-{{ company.id }}">
                <i class="fa fa-star-o"></i>
            </button>
            <button type="button" id="btnFavorisDel"
                    class="btnFavoris{% if  company.id not in favorites %} hidden {% endif %}"
                    name="company-{{ company.id }}">
                <i class="fa fa-star"></i>
            </button>
        {% else %}

            <button type="button" id="addFavorite" class="btnFavoris hidden " name="company-{{ company.id }}">
                <i class="fa fa-star-o"></i>
            </button>
            <button type="button" id="btnFavorisDel" class="btnFavoris" name="company-{{ company.id }}">
                <i class="fa fa-star"></i>
            </button>

        {% endif %}

    </div>
</div>
