<div class="panel-body row ">
    <div class="col-xs-12 col-md-8">
        <p>{{ company.presentation }}</p>
    </div>
    <div class="col-xs-12  col-sm-4 partAsideBlock">

        <h4>Adresse</h4>
        <ul>
            <li>{{ company.address }}</li>
            <li>{{ company.zipCode }} {{ company.city }}</li>
        </ul>
        <h4>Contact</h4>
        <ul>
            <li><i class="fa fa-user" aria-hidden="true"></i>

                {{ company.contactLastName }} {{ company.contactFirstName }}
            </li>
            <li><i class="fa fa-at"></i>
                {{ company.contactEmail }}
            </li>
            <li><i class="fa fa-phone" aria-hidden="true"></i>
                {{ company.contactPhone }}
            </li>
            <li><i class="fa fa-link"></i> {{ company.url }}</li>
            <li><i class="fa fa-facebook-square"></i> {{ company.facebook }}</li>
            <li><i class="fa fa-twitter-square"></i> {{ company.twitter }}</li>
            <li><i class="fa fa-linkedin-square"></i> {{ company.linkedin }} </li>
        </ul>
        <h4>Ajouter aux favoris</h4>

        <button type="button" id="addFavorite" class="btnFavoris {% if favoris == 1 %}hidden{% endif %}">
            <i class="fa fa-star-o" onclick="addFavorite()"></i>
        </button>


        <button type="button" id="btnFavorisDel" class="btnFavoris {% if favoris == 0 %}hidden{% endif %}">
            <i class="fa fa-star" onclick="delFavorite()"></i>
        </button>
    </div>
</div>


<script>

    function addFavorite() {
        $.ajax({
            type: 'POST',
            url: '/addFavorite/company/{{ company.id }}',
            data: $('#addFavorite'),
            success: function (response) {
                $('#success').html(response);
            }
        });

        $("#addFavorite").addClass("hidden");
        $("#btnFavorisDel").removeClass("hidden");
    }

    function delFavorite() {
        $.ajax({
            type: 'POST',
            url: '/delFavorite/company/{{ company.id }}',
            data: $('#btnFavorisDel'),
            success: function (response) {
                $('#success').html(response);
            }
        });
        $("#btnFavorisDel").addClass("hidden");
        $("#addFavorite").removeClass("hidden");
    }

</script>