<div class=" project">
    <div class="row">
        <div class="col-sm-4 text-left">
            <h3 class="smallerH3">Thématiques</h3>
            {% for thema in project.themes %}
                <span class="label label-themat">{{ thema.name }}</span>
            {% endfor %}
        </div>
        <div class="col-sm-4 text-left">
            <h3 class="smallerH3">Mots-clefs</h3>
            {% for keyWord in project.keyWords %}
                <span class="label label-motCle">{{ keyWord.name }}</span>
            {% endfor %}

        </div>
        {% if favorite is defined %}
            <div class="col-sm-4">
                <div class="col-sm-9">
                    <h3 class="smallerH3">Mettre en favori</h3>
                </div>
                <div class="col-sm-3">
                    <button type="button" name="project-{{ project.id }}"
                            class="btnFavoris btn-show-{{ project.id }} addFavorite {% if favorite == 1 %}hidden{% endif %}">
                        <i class="fa fa-star-o"></i>
                    </button>

                    <button type="button" name="project-{{ project.id }}"
                            class="btnFavoris btn-hide-{{ project.id }} delFavorite {% if favorite == 0 %}hidden{% endif %}">
                        <i class="fa fa-star"></i>
                    </button>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default" id="cityName">
                <div class="panel-heading text-left" role="tab">
                    <h4>Commune : {{ project.mayor.town }}</h4>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-6 text-left">Département :</div>
                            <div class="col-xs-6 text-right">{{ project.mayor.department }}</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-6 text-left">Code Postal :</div>
                            <div class="col-xs-6 text-right">{{ project.mayor.zipCode }}</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-6 text-left">Population :</div>
                            <div class="col-xs-6 text-right">{{ project.mayor.population }}</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-6 text-left">Code INSEE :</div>
                            <div class="col-xs-6 text-right">{{ project.mayor.insee }}</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default" id="contact">
                <div class="panel-heading text-left" role="tab">
                    <h4>Contact Mairie</h4>
                </div>
                <ul class="list-group text-left">
                    {% if project.mayor.firstName is not empty and  project.mayor.lastName is not empty %}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-1 text-left"><i class="fa fa-user"></i></div>
                                <div class="col-xs-11 text-right">{{ project.mayor.firstName }} {{ project.mayor.lastName }}</div>
                            </div>
                        </li>
                    {% endif %}
                    {% if project.mayor.phone is not empty %}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-1 text-left"><i class="fa fa-phone"></i></div>
                                <div class="col-xs-11 text-right">{{ project.mayor.phone }}</div>
                            </div>
                        </li>
                    {% endif %}
                    {% if project.mayor.email is not empty %}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-1 text-left"><i class="fa fa-at"></i></div>
                                <div class="col-xs-11 text-right">{{ project.mayor.email }}</div>
                            </div>
                        </li>
                    {% endif %}

                    {% if project.mayor.url is not empty
                    and  project.mayor.google is not empty
                    and project.mayor.facebook is not empty
                    and project.mayor.twitter is not empty %}
                        <li class="list-group-item text-center">
                            {% if project.mayor.url is not empty %}
                                <a href="{{ project.mayor.url }}" target="_blank"><i
                                            class="fa fa-link"></i></a>
                            {% endif %}
                            {% if project.mayor.google is not empty %}
                                <a href="{{ project.mayor.google }}" target="_blank"><i
                                            class="fa fa-google"></i></a>
                            {% endif %}
                            {% if project.mayor.facebook is not empty %}
                                <a href="{{ project.mayor.facebook }}" target="_blank"><i
                                            class="fa fa-facebook-square"></i></a>
                            {% endif %}
                            {% if project.mayor.twitter is not empty %}
                                <a href="{{ project.mayor.twitter }}" target="_blank"><i
                                            class="fa fa-twitter-square"></i></a>
                            {% endif %}
                        </li>
                    {% endif %}

                </ul>
            </div>
        </div>
        <div class="col-md-4 mini-galery">
            {% if project.images %}
                <div class="img-list text-center">
                    {% set imgBase = 'upload/project/' ~ project.id ~ '/photos/' ~ project.images.0 %}
                    {% for key, image in project.images %}
                        {% if key != 0 %}
                            {% set img = 'upload/project/' ~ project.id ~ '/photos/' ~ image %}
                            <img class="img-mini" alt="Photos du projet" src="{{ asset(img) }}"
                                 onmouseover="showImg('my-img{{ project.id }}','{{ asset(img) }}');"
                                 onmouseout="hideImg('my-img{{ project.id }}','{{ asset(imgBase) }}');"/>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="img-preview">
                    <img id="my-img{{ project.id }}" alt="Photos du projet" src="{{ asset(imgBase) }}"
                         class="img-big"/>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="year-budget">
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading text-left">
                        <h4>Date de réalisation</h4>
                    </div>
                    <div class="panel-body text-right">
                        {{ project.projectDate|date('m/Y') }}
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading text-left">
                        <h4>Durée</h4>
                    </div>
                    <div class="panel-body text-right">
                        {{ project.projectDuration }}
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading text-left">
                        <h4>Coût global</h4>
                    </div>
                    <div class="panel-body text-right">
                        {{ project.projectCost }}
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading text-left">
                        <h4>Cofinancements</h4>
                    </div>
                    <div class="panel-body text-right">
                        {{ project.projectCoFinance }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-xs-12 divider"></div>
        <div class="col-xs-12">
            <h3>Résumé</h3>
            <p>
                {{ project.descResume|raw }}
            </p>
        </div>
        <div class="col-xs-12 divider"></div>
        <div class="col-xs-12">
            <h3>Contexte</h3>
            <p>
                {{ project.descContext|raw }}
            </p>
        </div>
        <div class="col-xs-12 divider"></div>
        <div class="col-xs-12">
            <h3>Objectifs</h3>
            <p>
                {{ project.descGoal|raw }}
            </p>
        </div>
        <div class="col-xs-12 divider"></div>
        <div class="col-xs-12">
            <h3>Déroulement</h3>
            <p>
                {{ project.descProgress|raw }}
            </p>
        </div>
        <div class="col-xs-12 divider"></div>
        <div class="col-xs-12">
            <h3>Partenaires mobilisés</h3>
            <p>
                {{ project.descPartners|raw }}
            </p>
        </div>
        <div class="col-xs-12 divider"></div>
        <div class="col-xs-12">
            <h3>Résultats obtenus</h3>
            <p>
                {{ project.descResults|raw }}
            </p>
        </div>

        {% if project.descDifficulties|striptags is not empty %}
            <div class="col-xs-12 divider"></div>
            <div class="col-xs-12">
                <h3>Difficultés rencontrées</h3>
                <p>
                    {{ project.descDifficulties|raw }}
                </p>
            </div>
        {% endif %}

        {% if project.descAdvices|striptags is not empty %}
            <div class="col-xs-12 divider"></div>
            <div class="col-xs-12">
                <h3>Conseils</h3>
                <p>
                    {{ project.descAdvices|raw }}
                </p>
            </div>
        {% endif %}

    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading text-left">
                Pour plus d'informations
            </div>
            <ul class="list-group">
                {% set pdf = 'upload/project/' ~ project.id ~ '/file/' ~ project.file %}

                <li class="list-group-item">Personne en charge du projet : {{ project.contactName }}</li>
                <li class="list-group-item">Fonction : {{ project.contactOccupation }}</li>
                <li class="list-group-item">Email : {{ project.contactEmail }}</li>
                <li class="list-group-item">Téléphone : <a
                            href="tel:{{ project.contactPhone }}">{{ project.contactPhone }}</a></li>

                {% if project.url is not empty %}
                    <li class="list-group-item">
                        Site internet : <a href="{{ project.url }}" target="_blank">{{ project.url }}</a>
                    </li>
                {% endif %}
                {% if project.youtube is not empty %}
                    <li class="list-group-item">
                        YouTube : <a href="{{ project.youtube }}" target="_blank">{{ project.youtube }}</a>
                    </li>
                {% endif %}
                {% if project.facebook is not empty %}
                    <li class="list-group-item">
                        Facebook : <a href="{{ project.facebook }}" target="_blank">{{ project.facebook }}</a>
                    </li>
                {% endif %}
                {% if project.twitter is not empty %}
                    <li class="list-group-item">
                        Twitter : <a href="{{ project.twitter }}" target="_blank">{{ project.twitter }}</a>
                    </li>
                {% endif %}
                {% if project.file is not empty %}
                    <li class="list-group-item">Documents complémentaires :
                        <a href="{{ asset(pdf) }}" target="_parent" title="le fichier">Voir le fichier PDF</a>
                    </li>

                {% endif %}

            </ul>
        </div>
    </div>
</div>
