<div class="row resumeProject ">
    {% if options.pictures == "true" and options.project.images is not empty %}
        <div class="col-sm-3 mini-galery">

            <div class="img-list text-center">
                {% set imgBase = 'upload/project/' ~ options.project.id ~ '/photos/' ~ options.project.images.0 %}
                {% for key, image in options.project.images %}
                    {% if key != 0 %}
                        {% set img = 'upload/project/' ~ options.project.id ~ '/photos/' ~ image %}
                        <img class="img-mini" alt="Photos du projet" src="{{ asset(img) }}"
                             onmouseover="showImg('my-img{{ options.project.id }}','{{ asset(img) }}');"
                             onmouseout="hideImg('my-img{{ options.project.id }}','{{ asset(imgBase) }}');"/>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="img-preview">

                <img id="my-img{{ options.project.id }}"alt="Photos du projet" src="{{ asset(imgBase) }}"
                     class="img-big"/>
            </div>
        </div>
    {% endif %}
    <div class="{% if options.pictures == "true" and options.project.images is not empty %} col-sm-9 {% else %}col-xs-12{% endif %}">
        <div class="row">
            <div class="col-xs-9">
                <h3>{{ options.project.title }}</h3>
            </div>
            <div class="col-xs-3 text-right">
                <span class="label label-commune">{{ options.project.projectDate|date('m/Y') }}</span>
            </div>
        </div>
        <div class="row">
            {% if options.thema == "true" %}
                <div class="col-xs-12 text-left hidden-xs">
                    <span class="label label-commune">{{ options.project.mayor.town }}</span>
                    <span class="label label-commune">{{ options.project.mayor.department }}</span>

                </div>
                <div class="col-xs-12 text-left hidden-xs">
                    {% for thema in options.project.themes %}
                        <span class="label label-themat">{{ thema.name }}</span>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="col-md-12">
                <p>
                    {% if options.text is defined %}
                        {% if options.text != 0 %}
                            {{ options.project.descResume|slice (0,options.text) }}...
                        {% endif %}
                    {% else %}
                        {{ options.project.descResume|raw }}
                    {% endif %}
                </p>
            </div>
            <div class=" col-md-offset-6 col-md-3 col-xs-6 text-right">
                {% if options.update == "true" %}
                    <a href="{{ path('mayor_project_edit', {'slug': project.slug }) }}">
                        <div class="btn hidden-xs" role="button">
                            Modifier la fiche
                        </div>
                    </a>
                {% endif %}
            </div>

            <div class="col-xs-12 hidden-lg hidden-md hidden-md text-center">
                {% if options.more == "true" %}
                    <a href="{{ path('sheet_project', {'slug': project.slug }) }}">
                        <div class="btn" role="button">
                            Voir la fiche
                        </div>
                    </a>
                {% endif %}

            </div>

            <div class="col-md-3 text-right hidden-xs">
                {% if options.more == "true" %}
                    <a href="{{ path('sheet_project', {'slug': project.slug }) }}">
                        <div class="btn" role="button">
                            Voir la fiche
                        </div>
                    </a>
                {% endif %}
            </div>



        </div>
    </div>
</div>