{% extends 'base.html.twig' %}
{% block title %}Ma fiche{% endblock %}
{% block navbar %}
    {% set options = {'status':2} %}
    {% include 'components/navbar.html.twig' with options %}
{% endblock %}
{% block body %}
    {#{{ render(controller('AppBundle:AdminCompany:new')) }}#}
    {# {{ form_start(edit_form) }}
     {{ form_widget(form) }}
     {{ form_end(edit_form) }}#}
    {{ form_start(form) }}
    <h2 class="center-align">Ma fiche Partenaire</h2>
    <!-- Nav tabs -->
    <div class="row tabPannel">
        <div class="col-md-12">
            <ul class="list-inline text-center" role="tablist">
                <li role="presentation" class="tabLi active" id="orgaMenu">
                    <a href="#organisme" aria-controls="organisme" role="tab" data-toggle="tab">Organisme</a>
                </li>
                <li role="presentation" id="preseMenu" class="tabLi">
                    <a href="#description" aria-controls="description" role="tab" data-toggle="tab">Présentation</a>
                </li>
                <li role="presentation" id="contactMenu" class="tabLi">
                    <a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">Contact</a>
                </li>
                <li role="presentation" id="previewMenu" class="tabLi">
                    <a href="#preview" aria-controls="preview" role="tab" data-toggle="tab">Prévisualisation</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="organisme">
                    <div class="star">Le symbole * indique que cette information est nécessaire.</div>
                    <h3>Organisme</h3>
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            {{ form_label(form.name, "Nom de l’organisme *") }}
                            {{ form_widget(form.name) }}
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            {{ form_label(form.address, "Adresse de l’organisme *") }}
                            {{ form_widget(form.address) }}
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            {{ form_label(form.zipCode, "Code Postal *") }}
                            {{ form_widget(form.zipCode) }}
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            {{ form_label(form.zipCode, "Ville *") }}
                            {{ form_widget(form.city) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4 col-sm-offset-4" align="center">
                            <button type="submit" class="btn"><i class="fa fa-floppy-o" aria-hidden="true"></i>
                                Enregistrer en brouillon
                            </button>
                        </div>
                        <div class="form-group col-sm-4" align="right">
                            <a href="#description" aria-controls="description" role="tab" data-toggle="tab"
                               onclick="changeActiveMenu('preseMenu')">
                                <div type="button" class="btn">Etape suivante <i class=" fa fa-angle-right"
                                                                                 aria-hidden="true"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="description">
                    <div class="star">Le symbole * indique que cette information est nécessaire.</div>
                    <h3>Présentation de l'organisme</h3>
                    <div class=" col-xs-12">
                        <div class="form-group">
                            {{ form_label(form.activities, "Secteur d'activité *") }}
                            <div class="row scroll-in">

                                <div class="col-sm-3">
                                    {% set nbthema = form.activities|length %}
                                    {% set col =  nbthema/4 %}
                                    {% set col = col|round %}
                                    {% for activity in form.activities %}
                                    {{ form_errors(activity) }}
                                    <div>
                                        <input type="checkbox" id="{{ activity.vars.id }}"
                                               name="{{ activity.vars.full_name }}" value="{{ activity.vars.value }}"
                                               class="check-limit">
                                        <label for="{{ activity.vars.id }}">{{ activity.vars.label }}</label>
                                    </div>
                                    {% if (loop.index == col) or (loop.index == col*2) or (loop.index == col*3) %}
                                </div>
                                <div class="col-sm-3">
                                    {% endif %}
                                    {% endfor %}
                                </div>

                                {#<div class="col-xs-3">
                                    <div><input name="secteur[]" class="form-control check-limit" type="checkbox"
                                                id="alimentation"/> <label for="alimentation">Alimentation</label>
                                    </div>
                                    <div><input name="secteur[]" class="form-control check-limit" type="checkbox"
                                                id="assurance"/> <label for="assurance">Assurance</label></div>
                                    <div><input name="secteur[]" class="form-control check-limit" type="checkbox"
                                                id="banque"/> <label for="banque">Banque</label></div>
                                    <div><input name="secteur[]" class="form-control check-limit" type="checkbox"
                                                id="collectivite"/> <label for="collectivite">Collectivité</label>
                                    </div>
                                    <div><input name="secteur[]" class="form-control check-limit" type="checkbox"
                                                id="commerce"/> <label for="commerce">Commerce</label></div>

                                </div>
                                <div class="col-xs-3">
                                    <div><input name="secteur[]" class="form-control check-limit" type="checkbox"
                                                id="dechets"/> <label for="dechets">Déchets</label></div>
                                    <div><input name="secteur[]" class="form-control check-limit" type="checkbox"
                                                id="democratie locale"/> <label for="democratie locale">Démocratie
                                            locale</label></div>
                                    <div><input name="secteur[]" class="form-control check-limit" type="checkbox"
                                                id="developpement local"/> <label for="developpement local">Développement
                                            local</label></div>
                                    <div><input name="secteur[]" class="form-control check-limit" type="checkbox"
                                                id="economie"/> <label for="economie">Économie</label></div>
                                    <div><input name="secteur[]" class="form-control check-limit" type="checkbox"
                                                id="education"/> <label for="education">Éducation</label></div>
                                </div>
                                <div class="col-xs-3">
                                    <div><input name="secteur[]" class="form-control check-limit" type="checkbox"
                                                id="energie"/> <label for="energie">Énergie</label></div>
                                    <div><input name="secteur[]" class="form-control check-limit" type="checkbox"
                                                id="equipement"/> <label for="equipement">Équipement</label></div>
                                    <div><input name="secteur[]" class="form-control check-limit" type="checkbox"
                                                id="finances"/> <label for="finances">Finances</label></div>
                                    <div><input name="secteur[]" class="form-control check-limit" type="checkbox"
                                                id="formation"/> <label for="formation">Formation</label></div>
                                    <div><input name="secteur[]" class="form-control check-limit" type="checkbox"
                                                id="internet"/> <label for="internet">Internet</label></div>
                                </div>
                                <div class="col-xs-3">
                                    <div><input name="secteur[]" class="form-control check-limit" type="checkbox"
                                                id="numerique"/> <label for="numerique">Numérique</label></div>
                                    <div><input name="secteur[]" class="form-control check-limit" type="checkbox"
                                                id="sante"/> <label for="sante">Santé</label></div>
                                    <div><input name="secteur[]" class="form-control check-limit" type="checkbox"
                                                id="services publics"/> <label for="services publics">Services
                                            publics</label></div>
                                    <div><input name="secteur[]" class="form-control check-limit" type="checkbox"
                                                id="social"/> <label for="social">Social</label></div>
                                    <div><input name="secteur[]" class="form-control check-limit" type="checkbox"
                                                id="telephonie"/> <label for="telephonie">Téléphonie</label></div>
                                </div>#}
                            </div>
                        </div>
                    </div>
                    <div class=" col-xs-12">
                        <div class="form-group">
                            {{ form_label(form.presentation, "Présentation * (1200 caractères maximum)") }}
                            {{ form_widget(form.presentation, {'attr': {
                                'placeholder': 'Présentez votre activité.'} }) }}
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">

                            <input type="hidden" name="MAX_FILE_SIZE" value="500000">
                            <input type="file" id="photo" name="photo"/>
                            <p>le poids du fichier ne doit pas excéder ... ... Mo</p>
                            <label for="photo">
                                <div class="btn2">Ajouter un logo</div>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <label for="amrf_publicrooterbundle_company_url">Site internet <span class="hidden-sm">(les utilisateurs seront renvoyés vers cette page)</span></label>
                            {{ form_widget(form.url) }}
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            {{ form_label(form.facebook, " Facebook ") }}
                            {{ form_widget(form.facebook) }}
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            {{ form_label(form.linkedin, "Linkedin ") }}
                            {{ form_widget(form.linkedin) }}
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            {{ form_label(form.twitter, "Twitter ") }}
                            {{ form_widget(form.twitter) }}
                        </div>
                    </div>
                    <div class="form-group col-sm-4" align="left">
                        <a href="#organisme" aria-controls="organisme" role="tab" data-toggle="tab"
                           onclick="changeActiveMenu('orgaMenu')">
                            <div type="button" class="btn"><i class=" fa fa-angle-left" aria-hidden="true"></i>
                                Etape précédente
                            </div>
                        </a>
                    </div>
                    <div class="form-group col-sm-4" align="center">
                        <button type="submit" class="btn"><i class="fa fa-floppy-o" aria-hidden="true"></i>
                            Enregistrer en brouillon
                        </button>
                    </div>
                    <div class="form-group col-sm-4" align="right">
                        <a href="#contact" aria-controls="contact" role="tab" data-toggle="tab"
                           onclick="changeActiveMenu('contactMenu')">
                            <div type="button" class="btn">Etape suivante <i class=" fa fa-angle-right"
                                                                             aria-hidden="true"></i></div>
                        </a>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="contact">
                    <div class="star">Le symbole * indique que cette information est nécessaire.</div>
                    <h3>Contact</h3>
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            {{ form_label(form.contactLastName, "Nom du contact *") }}
                            {{ form_widget(form.contactLastName) }}
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            {{ form_label(form.contactFirstName, "Prenom du contact *") }}
                            {{ form_widget(form.contactFirstName) }}
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            {{ form_label(form.contactPhone, "Téléphone *") }}
                            {{ form_widget(form.contactPhone) }}
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            {{ form_label(form.contactEmail, "Email *") }}
                            {{ form_widget(form.contactEmail) }}
                        </div>
                    </div>
                    <div class="form-group col-sm-4" align="left">
                        <a href="#description" aria-controls="description" role="tab" data-toggle="tab"
                           onclick="changeActiveMenu('preseMenu')">
                            <div type="button" class="btn"><i class=" fa fa-angle-left" aria-hidden="true"></i>
                                Etape
                                précédente
                            </div>
                        </a>
                    </div>
                    <div class="form-group col-sm-4" align="center">
                        <button type="submit" class="btn"><i class="fa fa-floppy-o" aria-hidden="true"></i>
                            Enregistrer en brouillon
                        </button>
                    </div>
                    <div class="form-group col-sm-4" align="right">
                        <a href="#preview" aria-controls="preview" role="tab" data-toggle="tab"
                           onclick="changeActiveMenu('previewMenu')">
                            <div type="button" class="btn">Etape suivante <i class=" fa fa-angle-right"
                                                                             aria-hidden="true"></i></div>
                        </a>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="preview">
                    <h3>Prévisualisez votre fiche</h3>
                    <p>
                        Vous pouvez ici visualiser votre fiche telle qu'elle apparaîtra sur le site.
                        Si elle vous convient, validez en cliquant sur "Publier votre fiche".
                    </p>
                    <p>
                        Auquel cas, vous pouvez revenir en arrière pour la rectifier.
                    </p>
                    <div class="row jumbotron">
                        <div class="panel panel-default">
                            <div class="row">
                                <div class="panel-heading" role="tab">
                                    <div class="col-sm-4">
                                        <img src="http://via.placeholder.com/70x70">
                                    </div>
                                    <div class="col-sm-5">
                                        <h3>Nom du partenaire</h3>
                                    </div>
                                </div>
                            </div>
                            {% include 'components/partComponent.html.twig' %}
                        </div>
                        <div class="form-group col-sm-6" align="left">
                            <a href="#contact" aria-controls="contact" role="tab" data-toggle="tab"
                               onclick="changeActiveMenu('contactMenu')">
                                <div type="button" class="btn"><i class=" fa fa-angle-left" aria-hidden="true"></i>
                                    Etape
                                    précédente
                                </div>
                            </a>
                        </div>
                        <div class="form-group col-sm-6" align="right">
                            <button type="submit" class="btn">Publier votre fiche</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}
{% block javascripts %}
    <script>
        function changeActiveMenu(idActive) {
            $('.tabLi').removeClass('active');
            $('#' + idActive).addClass('active');
        }
    </script>
{% endblock %}