<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% endblock %} - Administration</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<header>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="login col-md-2">
                <h3><i class="fa fa-user"></i> Admin</h3>
            </div>
            <div class="col-md-offset-6 col-md-4  text-right">
                <button class="btn btn-badge" type="button">
                    Projets <span class="badge">4</span>
                </button>
                <button class="btn btn-badge" type="button">
                    Maires <span class="badge">4</span>
                </button>
                <button class="btn btn-badge" type="button">
                    Partenaires<span class="badge">4</span>
                </button>
            </div>
        </div>
    </div>
</header>
<div class="navLeft">
    <div class="leftPanel">
        <a href="{{ path('admin_user_index') }}">
            <h3><i class="fa fa-desktop"></i> User</h3>
        </a>
    </div>
    <div class="leftPanel">
        <a href="{{ path('admin_publicpage_index') }}">
            <h3><i class="fa fa-address-book"></i> Page Public</h3>
        </a>
    </div>
    <div class="leftPanel">
        <a href="{{ path('admin_project_index') }}">
            <h3><i class="fa fa-address-book-o"></i> Project</h3>
        </a>
    </div>
    <div class="leftPanel">
        <a href="{{ path('admin_partner_index') }}">
            <h3><i class="fa fa-folder-open"></i> Partenaires</h3>
        </a>
    </div>
    <div class="leftPanel">
        <a href="{{ path('admin_mayor_index') }}">
            <h3><i class="fa fa-edit"></i> Maires</h3>
        </a>
    </div>
    <div class="leftPanel">
        <a href="{{ path('admin_favorite_index') }}">
            <h3><i class="fa fa-bar-chart"></i> Favoris</h3>
        </a>
    </div>
    <div class="leftPanel">
        <a href="{{ path('admin_company_index') }}">
            <h3><i class="fa fa-bar-chart"></i> Organisme</h3>
        </a>
    </div>
</div>
<div class="container-fluid">
    <div class="content">
        {% block body %}
        {% endblock %}
    </div>

</div>
<footer class="page-footer">
    footer et cet fois pas un truc moche :D
</footer>

{% include 'AMRFPublicRooterBundle::components/script.html.twig' %}
{% block javascripts %}{% endblock %}
</body>
</html>