{% extends 'AMRFPublicRooterBundle::base.html.twig' %}
{% block title %}Mon espace{% endblock %}

{% block navbar %}
    {% include 'AMRFPublicRooterBundle::components/navbarMaire.html.twig' %}
{% endblock %}

{% block body %}

    <h2 class="center-align">Espace des Maires</h2>

    <div class="row espaceMaire">
        <div class="cardGest col-xs-12 col-md-12">
            <div class="card-body bck-maire">
                <div class="card-title col-md-12">
                    <i class="fa fa-folder-open"></i>
                    <h3>PROJETS</h3>
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <a href="{{ path('maireFormProjet') }}">
                        <button class="btn btn-xs"><span class="fa fa-plus"></span> AJOUTER UNE FICHE PROJET
                        </button>
                    </a>
                    <a href="{{ path('maireProjets') }}">
                        <button class="btn btn-xs"><span class="fa fa-file-text"></span> CONSULTER / MODIFIER MES FICHES
                        </button>
                    </a>
                </div>

                <div class="col-md-5 col-md-offset-1">
                    <a href="{{ path('recherche') }}">
                        <button class="btn btn-xs"><span class="fa fa-search"></span> RECHERCHER LES PROJETS
                        </button>
                    </a>
                    <a href="{{ path('partFavoris') }}">
                        <button class="btn btn-sm"><i class="fa fa-star-o"></i>
                            PARCOURIR MES FAVORIS
                        </button>
                    </a>
                </div>
            </div>
        </div>

        <div class="card cardGest col-xs-12 col-md-6">
            <div class="card-body bck-maire">
                <div class="card-title">
                    <i class="fa fa-user"></i>
                    <h3>MON PROFIL</h3>
                </div>
                <div class="card-block">
                    <a href="{{ path('maireProfil') }}">
                        <button class="btn btn-xs"><span class="fa fa-pencil"></span> ACCEDER A VOTRE PROFIL</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="card cardGest col-xs-12 col-md-6">
            <div class="card-body bck-maire">
                <div class="card-title">
                    <i class="fa fa-users"></i>
                    <h3>PARTENAIRES</h3>
                </div>
                <div class="card-block">
                    <a href="{{ path('annuaire') }}">
                        <button class="btn"><span class="fa fa-search"></span> TROUVER UN PARTENAIRE</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}