{% extends 'AMRFPublicRooterBundle::base.html.twig' %}
{% block title %}Mon espace{% endblock %}

{% block navbar %}
    {% include 'AMRFPublicRooterBundle::components/navbarMaire.html.twig' %}
{% endblock %}

{% block body %}

<h2 class="center-align">Espace des Maires</h2>

<div class="row">
    <div class="card cardGest col-xs-12 col-md-4">
        <div class="card-body bck-maire">
            <div  class="card-title">
                <i class="fa fa-user" ></i>
                <h3>MON PROFIL</h3>
            </div>

            <div class="card-text">
                <p>Gérez votre profil :</br> ajoutez, consultez, modifiez ou supprimez les informations de votre compte</p>
            </div>
            <div class="card-block">
                <a href="{{ path('maireProfil') }}"><button class="btn btn-xs"><span class="fa fa-pencil"></span> ACCEDER A VOTRE PROFIL</button></a>

            </div>
        </div>
    </div>
    <div class="card cardGest col-xs-12 col-md-4">
        <div class="card-body bck-maire">
            <div class="card-title">
                <i class=" 	fa fa-folder-open" ></i>
                <h3>PROJETS</h3>
            </div>
            <div class="card-text">
                <p>
                   Découvrez les projets par thématiques, zone géographique...</br>
                    Ajoutez ou reprendre la rédaction d'un projet</br>
                   Consultez la liste de vos projets et vos favoris</br>
                </p>
            </div>
            <div class="card-block">
                <a href="{{ path('maireFormProjet') }}"><button class="btn btn-xs"><span class=" 	fa fa-plus"></span> AJOUTER</button></a>
               <a href="{{ path('maireProjets') }}"><button class="btn btn-xs"><span class="fa fa-file-text"></span> CONSULTER</button></a>
                <a href="{{ path('recherche') }}"><button class="btn btn-xs"><span class="fa fa-search"></span> DECOUVRIR</button></a>
                <a href="{{ path('partFavoris') }}"><button class="btn btn-sm"><span class="fa fa-search"></span>
                        MES FAVORIS</button></a>
            </div>
        </div>
    </div>
    <div class="card cardGest col-xs-12 col-md-4">
        <div class="card-body bck-maire">
            <div class="card-title">
                <i class="fa fa-users"></i>
                <h3>PARTENAIRES</h3>
            </div>
            <div class="card-text">
                <p>
                    Découvrez les partenaires de l'AMRF</br>
                    Trouvez les informations pour les contater
                </p>
            </div>
            <div class="card-block">
                <a href="{{ path('annuaire') }}"><button class="btn"><span class="fa fa-search"></span> TROUVER UN PARTENAIRE</button></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}