{% extends 'AMRFPublicRooterBundle::base.html.twig' %}
{% block title %}Formulaire fiche projet{% endblock %}
{% block navbar %}
    {% set options = {'status':1} %}
    {% include 'AMRFPublicRooterBundle::components/navbar.html.twig' with options %}
{% endblock %}
{% block body %}

        {{ form_start(form) }}

    <h2>CREER UNE FICHE PROJET</h2>
    <!-- Nav tabs -->
    <div class="row tabPannel">
        <ul class="list-inline text-center" role="tablist">
            <li role="presentation" class=" tabLi active" id="projetMenu">
                <a href="#projet" aria-controls="projet" role="tab" data-toggle="tab">Mon Projet</a>
            </li>
            <li role="presentation" id="realMenu" class="tabLi">
                <a href="#realisation" aria-controls="realisation" role="tab" data-toggle="tab">Réalisation</a>
            </li>
            <li role="presentation" id="descriptionMenu" class="tabLi">
                <a href="#description" aria-controls="description" role="tab" data-toggle="tab">Description </a>
            </li>
            <li role="presentation" id="infoMenu" class="tabLi">
                <a href="#informations" aria-controls="informations" role="tab" data-toggle="tab">Informations</a>
            </li>
            <li role="presentation" id="previewMenu" class="tabLi">
                <a href="#preview" aria-controls="preview" role="tab" data-toggle="tab">Aperçu</a>
            </li>
        </ul>
        <div class="text-center">

        </div>

        <form action="#" id="form" method="post" name="form">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="projet">
                    <div class="star">Le symbole * indique que cette information est nécessaire.</div>
                    <h3>Mon projet</h3>
                    <div class="form-group col-sm-12">
                        {#<input id="projectName" type="text" class="form-control"
                               placeholder="Entrez ici le nom de votre projet pour qu'il soit facilement identifiable.">#}
                        {{ form_label(form.title, "Titre du projet *") }}
                        {{ form_widget(form.title, {'attr': {
                            'placeholder': 'Entrez ici le nom de votre projet pour qu\'il soit facilement identifiable.'} }) }}
                    </div>
                    <h3>Thématiques et mots-clefs</h3>
                    <label>Cochez jusqu'à 3 thématiques</label>
                    {% include 'AMRFPublicRooterBundle::components/thematiques.html.twig' %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form_label(form.keyWords, "Saississez jusqu'à 5 mots-clefs") }}
                                {{ form_widget(form.keyWords, {'attr': {
                                    'placeholder': 'Ecrivez les premières lettres du mot et vérifiez qu\'il apparaît dans la liste.'} }) }}
                                {#<input type="text" max="5" class="form-control" name="motsCle" id="motsCle"
                                       placeholder="Ecrivez les premières lettres du mot et vérifiez qu'il apparaît dans la liste."/>#}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12">
                            {{ form_label(form.descResume, "Résumé du projet *") }}
                            {{ form_widget(form.descResume, {'attr': {
                                'placeholder': 'Saisissez une brève description de votre projet (1 à 2 phrases).',
                                'rows':'3'} }) }}
                            {# <label for="resume">Résumé du projet*</label>
                             <textarea id="resume" type="text" class="form-control"
                                       placeholder="Saisissez une brève description de votre projet (1 à 2 phrases)."
                                       rows="2"></textarea>#}

                        </div>
                    </div>
                    <div class="row">
                        <div class=" col-sm-12">
                            <h3>Illustrations</h3>
                            <input type="hidden" name="MAX_FILE_SIZE" value="500000">
                            <input type="file" id="photo" name="photo"/>
                            <label for="photo">Téléchargez jusqu'à 4 images<br/>
                                <p>le poids d'une image ne doit pas excéder ... ... Mo</p>
                                <div class="btn2">Ajouter des images</div>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-4" align="center">
                            <button type="button" class="btn"><i class="fa fa-floppy-o" aria-hidden="true"></i>
                                <span class="hidden-sm">Enregistrer</span>
                            </button>
                        </div>
                        <div class="col-sm-4" align="center">
                            <a href="#realisation" aria-controls="projet" role="tab" data-toggle="tab"
                               onclick="changeActiveMenu('realMenu')">
                                <div type="button" class="btn">Etape suivante <i class=" fa fa-angle-right"
                                                                                 aria-hidden="true"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="realisation">
                    <div class="star">Le symbole * indique que cette information est nécessaire.</div>
                    <h3>Réalisation</h3>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            {{ form_label(form.projectDate, "Année de réalisation *") }}
                            {{ form_widget(form.projectDate) }}
                            {#<label for="year">Année de réalisation *</label>
                            <input id="year" type="text" class="form-control" placeholder="">#}
                        </div>
                        <div class="form-group col-sm-6">
                            {{ form_label(form.projectDuration, "Durée de réalisation *") }}
                            {{ form_widget(form.projectDuration) }}
                            {#<label for="time">Durée de réalisation *</label>
                            <input id="time" type="text" class="form-control" placeholder="">#}
                        </div>
                        <div class="form-group col-sm-6">
                            {{ form_label(form.projectCost, "Coût global *") }}
                            {{ form_widget(form.projectCost) }}
                            {#<label for="cost">Coût global *</label>
                            <input id="cost" type="text" class="form-control" placeholder="">#}
                        </div>


                        <div class="form-group col-sm-6">
                            {#<label for="cofinance">Cofinancements</label>#}
                            {{ form_label(form.projectCoFinance, "Cofinancements") }}
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="optionsRadios" id="oui" value="1"
                                           onClick="afficherCacher();">
                                    Oui
                                </label>
                            </div>
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="optionsRadios" id="non" value="2"
                                           onClick="afficherCacher();">
                                    Non
                                </label>
                            </div>
                            {{ form_widget(form.projectCoFinance, {'attr': {
                                'placeholder': 'Saisissez le montant du financement et le partenaire associé'} }) }}

                            {#<input id="divCacher" type="text" name="cofinance" class="form-control"
                                   placeholder="Saisissez le montant du financement et le partenaire associé">#}
                        </div>
                    </div>
                    <div class="form-group col-sm-4" align="left">
                        <a href="#projet" aria-controls="projet" role="tab" data-toggle="tab"
                           onclick="changeActiveMenu('projetMenu')">
                            <div type="button" class="btn"><i class=" fa fa-angle-left" aria-hidden="true"></i>
                                Etape précédente
                            </div>
                        </a>
                    </div>
                    <div class="form-group col-sm-4" align="center">
                        <button type="button" class="btn"><i class="fa fa-floppy-o" aria-hidden="true"></i>
                            <span class="hidden-sm">Enregistrer</span>
                        </button>
                    </div>
                    <div class="form-group col-sm-4" align="right">
                        <a href="#description" aria-controls="description" role="tab" data-toggle="tab"
                           onclick="changeActiveMenu('descriptionMenu')">
                            <div type="button" class="btn">Etape suivante <i class=" fa fa-angle-right"
                                                                             aria-hidden="true"></i></div>
                        </a>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="description">
                    <div class="star">Le symbole * indique que cette information est nécessaire.</div>
                    <div class="form-group col-sm-12">
                        {{ form_label(form.descContext, "1/ Contexte *") }}
                        {{ form_widget(form.descContext, {'attr': {
                            'placeholder': 'Décrivez ici le contexte du projet.',
                        'rows':'4'} }) }}

                        {#<label for="contexte">1/ Contexte *</label>
                        <textarea id="contexte" type="text" class="form-control"
                                  placeholder="Décrivez ici le contexte du projet."
                                  rows="4"></textarea>#}
                    </div>
                    <div class="form-group col-sm-12">
                        {{ form_label(form.descGoal, "2/ Objectifs *") }}
                        {{ form_widget(form.descGoal, {'attr': {
                            'placeholder': 'Ici, vous pouvez indiquer quels étaient vos objectifs au départ et s\'ils ont évolué.',
                            'rows':'4'} }) }}

                        {#<label for="objectif">2/ Objectifs *</label>
                        <textarea id="objectif" type="text" class="form-control"
                                  placeholder="Ici, vous pouvez indiquer quels étaient vos objectifs au départ et s'ils ont évolué."
                                  rows="4"></textarea>#}
                    </div>
                    <div class="form-group col-sm-12">
                        {{ form_label(form.descProgress, "3/ Déroulement * (1200 caractères maximum)") }}
                        {{ form_widget(form.descProgress, {'attr': {
                            'placeholder': "Décrivez ici les grandes étapes du projet, la méthodologie employée...",
                            'rows':'7'} }) }}

                        {#<label for="deroulement">3/ Déroulement * (1200 caractères maximum)</label>
                        <textarea id="deroulement" type="text" class="form-control"
                                  placeholder="Décrivez ici les grandes étapes du projet, la méthodologie employée..."
                                  rows="7"></textarea>#}
                    </div>
                    <div class="form-group col-sm-12">
                        {{ form_label(form.descPartners, "4/ Partenaires mobilisés *") }}
                        {{ form_widget(form.descPartners, {'attr': {
                            'placeholder': "Listez ici vos partenaires pour ce projet et la nature du partenariat (apport d'expertise, logistique, financier...).",
                            'rows':'4'} }) }}

                        {#<label for="partenaires">4/ Partenaires mobilisés *</label>
                        <textarea id="partenaires" type="text" class="form-control"
                                  placeholder="Listez ici vos partenaires pour ce projet et la nature du partenariat (apport d'expertise, logistique, financier...)."
                                  rows="3"></textarea>#}
                    </div>
                    <div class="form-group col-sm-12">
                        {{ form_label(form.descResults, "5/ Résultats obtenus *") }}
                        {{ form_widget(form.descResults, {'attr': {
                            'placeholder': "Indiquez ici des résultats chiffrés si vous en avez. Vous pouvez préciser si vous avez atteint vos objectifs ou s'il reste encore une marge de progression.",
                            'rows':'4'} }) }}

                        {#<label for="results">5/ Résultats obtenus *</label>
                        <textarea id="results" type="text" class="form-control"
                                  placeholder="Indiquez ici des résultats chiffrés si vous en avez. Vous pouvez préciser si vous avez atteint vos objectifs ou s'il reste encore une marge de progression."
                                  rows="4"></textarea>#}
                    </div>
                    <div class="form-group col-sm-12">
                        {{ form_label(form.descDifficulties, "6/ Difficultés rencontrées") }}
                        {{ form_widget(form.descDifficulties, {'attr': {
                            'placeholder': "Listez ici vos difficultés rencontrées pour ce projet.",
                            'rows':'4'} }) }}

                        {#<label for="difficults">6/ Difficultés rencontrées</label>
                        <textarea id="difficults" type="text" class="form-control"
                                  placeholder="Listez ici vos difficultés rencontrées pour ce projet."
                                  rows="4"></textarea>#}
                    </div>
                    <div class="form-group col-sm-12">
                        {{ form_label(form.descAdvices, "7/ Conseils") }}
                        {{ form_widget(form.descAdvices, {'attr': {
                            'placeholder': "Expliquez ici ce qui vous a été utile et vous a permis d'avancer ou au contraire les pièges à éviter.",
                            'rows':'4'} }) }}

                        {#<label for="conseil">7/ Conseils</label>
                        <textarea id="conseil" type="text" class="form-control"
                                  placeholder="Expliquez ici ce qui vous a été utile et vous a permis d'avancer ou au contraire les pièges à éviter."
                                  rows="4"></textarea>#}
                    </div>
                    <div class="form-group col-sm-4" align="left">
                        <a href="#realisation" aria-controls="realisation" role="tab" data-toggle="tab"
                           onclick="changeActiveMenu('realMenu')">
                            <div type="button" class="btn"><i class=" fa fa-angle-left" aria-hidden="true"></i>
                                Etape précédente
                            </div>
                        </a>
                    </div>
                    <div class="form-group col-sm-4" align="center">
                        <button type="button" class="btn"><i class="fa fa-floppy-o" aria-hidden="true"></i>
                            <span class="hidden-sm ">Enregistrer</span>
                        </button>
                    </div>
                    <div class="form-group col-sm-4" align="right">
                        <a href="#informations" aria-controls="informations" role="tab" data-toggle="tab"
                           onclick="changeActiveMenu('infoMenu')">
                            <div type="button" class="btn">Etape suivante <i class=" fa fa-angle-right"
                                                                             aria-hidden="true"></i></div>
                        </a>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="informations">
                    <div class="star">Le symbole * indique que cette information est nécessaire.</div>
                    <h3>Personne en charge du projet</h3>
                    <div class="form-group col-sm-6">
                        {{ form_label(form.contactName, "Nom Prénom *") }}
                        {{ form_widget(form.contactName) }}
                        {#<label for="responsable">Nom Prénom *</label>
                        <input id="responsable" type="text" class="form-control" placeholder="">#}
                    </div>
                    <div class="form-group col-sm-6">
                        {{ form_label(form.contactOccupation, "Fonction *") }}
                        {{ form_widget(form.contactOccupation) }}
                        {#<label for="fonction">Fonction *</label>
                        <input id="fonction" type="text" class="form-control" placeholder="">#}
                    </div>
                    <div class="form-group col-sm-6">
                        {{ form_label(form.contactEmail, "Email *") }}
                        {{ form_widget(form.contactEmail) }}
                        {#<label for="email">Email *</label>
                        <input id="email" type="email" class="form-control" placeholder="">#}
                    </div>
                    <div class="form-group col-sm-6">
                        {{ form_label(form.contactPhone, "Téléphone *") }}
                        {{ form_widget(form.contactPhone) }}
                        {#<label for="tel">Téléphone *</label>
                        <input id="tel" type="tel" class="form-control" placeholder="">#}
                    </div>
                    <h3>Ajout de fichiers</h3>
                    <div class="form-group col-sm-12">
                        <input type="hidden" name="MAX_FILE_SIZE" value="500000">
                        <input type="file" id="fichier" name="fichier"/>
                        <label for="fichier">Vous pouvez ajouter un fichier apportant des informations plus détaillées
                            (format accepté : PDF ) <br/>
                            <p>le poids d'un fichier ne doit pas excéder ... ... Mo</p>
                            <div class="btn2">Télécharger</div>
                        </label>
                    </div>
                    <h3>Votre projet est visible en ligne ?</h3>
                    <label>Indiquez vos liens ci-dessous</label>
                    <div class="form-group col-sm-6">
                        <label for="amrf_publicrooterbundle_project_url"><i class="fa fa-link"></i> Site internet</label>
                        {{ form_widget(form.url) }}
                        {#
                        <input id="url" type="url" class="form-control" placeholder="">#}
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="amrf_publicrooterbundle_project_youtube"><i class="fa fa-youtube-square"></i> YouTube</label>
                        {{ form_widget(form.youtube) }}
                       {#
                        <input id="url" type="url" class="form-control" placeholder="">#}
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="amrf_publicrooterbundle_project_facebook"><i class="fa fa-facebook-square"></i> Facebook</label>
                        {{ form_widget(form.facebook) }}
                        {#
                        <input id="url" type="url" class="form-control" placeholder="">#}
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="amrf_publicrooterbundle_project_twitter"><i class="fa fa-twitter-square"></i> Twitter</label>
                        {{ form_widget(form.twitter) }}
                        {#<label for="url"><i class="fa fa-twitter-square"></i> Twitter</label>
                        <input id="url" type="url" class="form-control" placeholder="">#}
                    </div>
                    <div class="form-group col-sm-4" align="left">
                        <a href="#description" aria-controls="description" role="tab" data-toggle="tab"
                           onclick="changeActiveMenu('descriptionMenu')">
                            <div type="button" class="btn"><i class=" fa fa-angle-left" aria-hidden="true"></i>
                                Etape précédente
                            </div>
                        </a>
                    </div>
                    <div class="form-group col-sm-4" align="center">
                        <button type="button" class="btn"><i class="fa fa-floppy-o" aria-hidden="true"></i>
                            <span class="hidden-sm">Enregistrer</span>
                        </button>
                    </div>
                    <div class="form-group col-sm-4" align="right">
                        <a href="#preview" aria-controls="preview" role="tab" data-toggle="tab"
                           onclick="changeActiveMenu('previewMenu')">
                            <div type="button" class="btn">Etape suivante <i class=" fa fa-angle-right"
                                                                             aria-hidden="true"></i></div>
                        </a>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="preview">
                    <h3>Prévisualisez votre fiche</h3>
                    <p>Ici vous pouvez visualiser votre fiche telle qu'elle apparaîtra sur le site. Si elle vous
                        convient, cliquez sur "Soumettre", sinon, vous pouvez revenir au formulaire pour la
                        corriger.</p>
                    <div class="row">
                        <div class="form-group col-sm-4" align="left">
                            <a href="#informations" aria-controls="informations" role="tab" data-toggle="tab"
                               onclick="changeActiveMenu('infoMenu')">
                                <div type="button" class="btn"><i class=" fa fa-angle-left" aria-hidden="true"></i>
                                    Etape
                                    précédente
                                </div>
                            </a>
                        </div>
                        <div class="form-group col-sm-4" align="center">
                            <button type="button" class="btn"><i class="fa fa-floppy-o" aria-hidden="true"></i>
                                <span class="hidden-sm">Enregistrer</span>
                            </button>
                        </div>
                        <div class="form-group col-sm-4" align="right">
                            <button type="button" class="btn"><i class="fa fa-envelope-o" aria-hidden="true"></i>
                                Soumettre votre fiche
                            </button>
                        </div>
                    </div>
                    {% include 'AMRFPublicRooterBundle::components/projectComponent.html.twig' %}
                    <div class="form-group col-sm-4" align="left">
                        <a href="#informations" aria-controls="informations" role="tab" data-toggle="tab"
                           onclick="changeActiveMenu('infoMenu')">
                            <div type="button" class="btn"><i class=" fa fa-angle-left" aria-hidden="true"></i>
                                Etape
                                précédente
                            </div>
                        </a>
                    </div>
                    <div class="form-group col-sm-4" align="left">
                        <button type="button" class="btn"><i class="fa fa-floppy-o" aria-hidden="true"></i>
                            <span class="hidden-sm">Enregistrer</span>
                        </button>
                    </div>
                    <div class="form-group col-sm-4" align="right">
                        <button type="button" class="btn"><i class="fa fa-envelope-o" aria-hidden="true"></i>
                            Soumettre votre fiche
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    <script>
        function changeActiveMenu(idActive) {
            $('.tabLi').removeClass('active');
            $('#' + idActive).addClass('active');
        }

        function afficherCacher() {
            if (document.getElementById('oui').checked) {
                document.getElementById('divCacher').style.display = "block";
            } else if (document.getElementById('non').checked) {
                document.getElementById('divCacher').style.display = "none";
            }
        }
    </script>
{% endblock %}