{% extends 'base.html.twig' %}
{% block title %}Mot de passe oublié{% endblock %}
{% block body %}
    {{ form_start(form_password) }}
    <h2>Mot de passe oublié ?</h2>

    <div class="row jumbotron">
        <div class="col-lg-5 col-sm-5">

            {{ form_start(form_password) }}
            {{ form_label(form_password.email) }}
            {{ form_widget(form_password.email) }}

            <div class="col-lg-6 col-md-6 text-center">
                <button class="btn" type="submit">Envoyer</button>
            </div>
        </div>
        {{ form_widget(form_password._token) }}

        {{ form_end(form_password, {'render_rest': false}) }}
        <div class="col-lg-6 col-sm-6 caution">

            <p>Saisissez votre email et <span>cliquez sur "Envoyer"</span>. Vous recevrez un email qui vous permettra de
                réinitiliser votre mot de passe.</p>
        </div>
    </div>
{% endblock %}
