<div class="navbar navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="hidden-xs nav navbar-nav navbar-right">
                <li>
                    <a {% if app.request.attributes.get('_route') == 'home' %} class="active" {% endif %}
                            href="{{ path('home') }}">Accueil</a>
                </li>
                <li>
                    <a {% if app.request.attributes.get('_route') == 'amrf' %} class="active" {% endif %}
                            href="{{ path('amrf') }}">AMRF</a>
                </li>
                <li>
                    <a {% if app.request.attributes.get('_route') == 'contact' %} class="active" {% endif %}
                            href="{{ path('contact') }}">Contact</a>
                </li>
                <hr>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Mon Espace <i
                                class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-main"><a href="{{ path('maireHome') }}">Mon Espace <i
                                        class="fa fa-angle-down"></i></a></li>
                        <li class="dropdown-header">Profil</li>
                             <li><a href="{{ path('maireProfil') }}">Modifier</a></li>
                        <li class="dropdown-header">Projet</li>
                             <li><a tabindex="-1" href="{{ path('maireFormProjet') }}">Ajouter</a></li>
                              <li><a tabindex="-1" href="{{ path('maireProjets') }}">Consulter</a></li>
                              <li><a tabindex="-1" href="{{ path('recherche') }}">Rechercher</a></li>
                              <li><a tabindex="-1" href="{{ path('maireFavoris') }}">favoris</a></li>
                        <li class="dropdown-header">Partenaires</li>
                                <li><a tabindex="-1" href="{{ path('maireFavoris') }}">favoris</a></li>
                                <li><a tabindex="-1" href="{{ path('annuaire') }}">rechercher</a></li>
                         <hr>
                        <li><a tabindex="-1" href="#">Déconnexion</a></li>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="visible-xs nav navbar-nav navbar-right">
                <li>
                    <a {% if app.request.attributes.get('_route') == 'home' %} class="active" {% endif %}
                            href="{{ path('home') }}">Accueil</a>
                </li>
                <li>
                    <a {% if app.request.attributes.get('_route') == 'amrf' %} class="active" {% endif %}
                            href="{{ path('amrf') }}">AMRF</a>
                </li>
                <li>
                    <a {% if app.request.attributes.get('_route') == 'contact' %} class="active" {% endif %}
                            href="{{ path('contact') }}">Contact</a>
                </li>
                <hr>
                        <li><a href="{{ path('maireHome') }}">Mon Espace</a></li>
                        <li><a href="{{ path('maireProfil') }}">Modifier mon Profil</a></li>
                        <li class="dropdown-header">Projet</li>
                        <li><a tabindex="-1" href="{{ path('maireProjets') }}">Consulter</a></li>
                        <li><a tabindex="-1" href="{{ path('recherche') }}">Rechercher</a></li>
                        <li><a tabindex="-1" href="{{ path('maireFavoris') }}">favoris</a></li>
                        <li class="dropdown-header">Partenaires</li>
                        <li><a tabindex="-1" href="{{ path('maireFavoris') }}">favoris</a></li>
                        <li><a tabindex="-1" href="{{ path('annuaire') }}">rechercher</a></li>
                        <hr>
                        <li><a tabindex="-1" href="#">Déconnexion</a></li>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
