<div class="navbar navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="row">
                <div class="col-md-12 hidden-xs hidden-sm">
                    <p><i class="fa fa-quote-left"></i> Des maires au service des maires</p>
                </div>
                <div class="col-md-3 col-xs-10 col-sm-6 visible-xs visible-sm" >
                    <a href="{{ path('home') }}"><img src="{{ asset('/img/AMRF.png') }}" alt=""></a>
                </div>
                <div class="col-xs-2">
                    <button type="button" class="navbar-toggle collapsed text-right" data-toggle="collapse"
                            data-target="#navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
            </div>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a {% if app.request.attributes.get('_route') == 'home' %} class="active" {% endif %}
                            href="{{ path('home') }}">Accueil</a>
                </li>
                <li>
                    <a {% if app.request.attributes.get('_route') == 'amrf' %} class="active" {% endif %}
                            href="{{ path('amrf') }}">AMRF</a>
                </li>
                <li>
                    <a {% if app.request.attributes.get('_route') == 'contact' %} class="active" {% endif %}
                            href="{{ path('contact') }}">Contact</a>
                </li>
                <li class="visible-xs visible-md visible-sm">
                    <a data-toggle="modal" data-target="#formConnect">Connexion</a>
                </li>
            </ul>
        </div>
    </div>
</div>
