{% extends 'private/admin/baseAdmin.html.twig' %}

{% block body %}

    <div class="menu-admin menu-project">
        <ul>
            <li>
                <a href="{{ path('admin_mayor_index') }}" data-toggle="tooltip" data-placement="right"
                   title="Liste Maires"><i class="fa fa-archive fa-admin"></i></a>
            </li>
            <li>
                <a href="{{ path('admin_mayor_new') }}" data-toggle="tooltip" data-placement="right"
                   title="Nouveau Maire"><i
                            class="fa fa-plus fa-admin"></i></a>
            </li>
        </ul>
    </div>


    <h1>Mayors list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Address</th>
                <th>Insee</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Town</th>
                <th>Zipcode</th>
                <th>Department</th>
                <th>Region</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Population</th>
                <th>Url</th>
                <th>Facebook</th>
                <th>Twitter</th>
                <th>Google</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mayor in mayors %}
            <tr>
                <td><a href="{{ path('admin_mayor_show', { 'id': mayor.id }) }}">{{ mayor.id }}</a></td>
                <td>{{ mayor.firstName }}</td>
                <td>{{ mayor.lastName }}</td>
                <td>{{ mayor.address }}</td>
                <td>{{ mayor.insee }}</td>
                <td>{{ mayor.email }}</td>
                <td>{{ mayor.phone }}</td>
                <td>{{ mayor.town }}</td>
                <td>{{ mayor.zipCode }}</td>
                <td>{{ mayor.department }}</td>
                <td>{{ mayor.region }}</td>
                <td>{{ mayor.latitude }}</td>
                <td>{{ mayor.longitude }}</td>
                <td>{{ mayor.population }}</td>
                <td>{{ mayor.url }}</td>
                <td>{{ mayor.facebook }}</td>
                <td>{{ mayor.twitter }}</td>
                <td>{{ mayor.google }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_mayor_show', { 'id': mayor.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_mayor_edit', { 'id': mayor.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation text-center">
        {{ knp_pagination_render(mayors) }}
    </div>

{% endblock %}
