{% extends 'AMRFPublicRooterBundle::private/admin/baseAdmin.html.twig' %}

{% block body %}
    <h1>Mayor</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mayor.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ mayor.firstName }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ mayor.lastName }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ mayor.address }}</td>
            </tr>
            <tr>
                <th>Insee</th>
                <td>{{ mayor.insee }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ mayor.email }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ mayor.phone }}</td>
            </tr>
            <tr>
                <th>Town</th>
                <td>{{ mayor.town }}</td>
            </tr>
            <tr>
                <th>Zipcode</th>
                <td>{{ mayor.zipCode }}</td>
            </tr>
            <tr>
                <th>Department</th>
                <td>{{ mayor.department }}</td>
            </tr>
            <tr>
                <th>Region</th>
                <td>{{ mayor.region }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ mayor.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ mayor.longitude }}</td>
            </tr>
            <tr>
                <th>Population</th>
                <td>{{ mayor.population }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ mayor.url }}</td>
            </tr>
            <tr>
                <th>Facebook</th>
                <td>{{ mayor.facebook }}</td>
            </tr>
            <tr>
                <th>Twitter</th>
                <td>{{ mayor.twitter }}</td>
            </tr>
            <tr>
                <th>Google</th>
                <td>{{ mayor.google }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_mayor_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_mayor_edit', { 'id': mayor.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
