{% extends 'private/admin/baseAdmin.html.twig' %}

{% block body %}
    <div class="menu-admin menu-user">
        <ul>
            <li>
                <a href="{{ path('admin_user_index') }}" data-toggle="tooltip" data-placement="right"
                   title="Liste Utilisateur"><i class="fa fa-users fa-admin"></i></a>
            </li>
            <li>
                <a href="{{ path('admin_user_new') }}" data-toggle="tooltip" data-placement="right"
                   title="Nouvel Utilisateur"><i
                            class="fa fa-user-plus fa-admin"></i></a>
            </li>
            <li>
                <a onclick="document.amrf_publicrooterbundle_user.submit();" data-toggle="tooltip"
                   data-placement="right"
                   title="Valider les modifications"><i class="fa fa-check fa-admin"></i></a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                <button class="fa-admin" data-toggle="tooltip" data-placement="right"
                        title="Supprimer l'Utilisateur" type="submit" onclick="return ConfirmDelete()"><i
                            class="fa fa-trash-o"></i></button>
                {{ form_end(delete_form) }}
            </li>

        </ul>
    </div>
    <h1>Modification de l'utilisateur</h1>
    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}

    <div class="form-group row" id="editProject">
        <div class="col-sm-6">
            <div class="col-sm-12">
                <h5>{{ form_label(edit_form.login, "Login Utilisateur") }}</h5>
                {{ form_widget(edit_form.login) }}
            </div>
            <div class="col-sm-12">
                <h5>{{ form_label(edit_form.password, "Mot de passe" ) }}</h5>
                {{ form_widget(edit_form.password) }}
            </div>
            <div class="col-sm-12">
                <h5>{{ form_label(edit_form.email, "Email") }}</h5>
                {{ form_widget(edit_form.email) }}
            </div>
            <div class="col-sm-6">
                <h5>{{ form_label(edit_form.role, "Rôle") }}</h5>
                {{ form_widget(edit_form.role) }}
            </div>
            <div class="col-sm-6">
                <h5>{{ form_label(edit_form.status, "Statut") }}</h5>
                {{ form_widget(edit_form.status) }}
            </div>
            <div class="col-sm-6">
                <h5>{{ form_label(edit_form.creationDate, "Date de création") }}</h5>
                {{ form_widget(edit_form.creationDate, { 'attr':{'disabled':'disabled'} }) }}
            </div>
            <div class="col-sm-6">
                <h5>{{ form_label(edit_form.lastLogin, "Dernière connexion") }}</h5>
                {{ form_widget(edit_form.lastLogin, { 'attr':{'disabled':'disabled'} }) }}
            </div>

        </div>
        {% if user.role == 1 %}
            <div class="col-sm-6">
                <div class="col-sm-12">
                    <h5 class="text-center">Informations - Maire</h5>
                </div>
                <div class="col-sm-4">
                    <h5>{{ form_label(edit_form.mayor.firstName, "Prénom" ) }}</h5>
                    {{ form_widget(edit_form.mayor.firstName) }}
                </div>
                <div class="col-sm-4">
                    <h5>{{ form_label(edit_form.mayor.lastName, "Nom") }}</h5>
                    {{ form_widget(edit_form.mayor.lastName) }}
                </div>
                <div class="col-sm-4">
                    <h5>{{ form_label(edit_form.mayor.insee, "INSEE") }}</h5>
                    {{ form_widget(edit_form.mayor.insee) }}
                </div>
                <div class="col-sm-4">
                    <h5>{{ form_label(edit_form.mayor.email, "Email") }}</h5>
                    {{ form_widget(edit_form.mayor.email) }}
                </div>
                <div class="col-sm-4">
                    <h5>{{ form_label(edit_form.mayor.phone, "Téléphone") }}</h5>
                    {{ form_widget(edit_form.mayor.phone) }}
                </div>
                <div class="col-sm-4">
                    <h5>{{ form_label(edit_form.mayor.address, "Adresse" ) }}</h5>
                    {{ form_widget(edit_form.mayor.address) }}
                </div>
                <div class="col-sm-4">
                    <h5>{{ form_label(edit_form.mayor.town, "Ville") }}</h5>
                    {{ form_widget(edit_form.mayor.town) }}
                </div>
                <div class="col-sm-4">
                    <h5>{{ form_label(edit_form.mayor.zipCode, "Code postal" ) }}</h5>
                    {{ form_widget(edit_form.mayor.zipCode) }}
                </div>
                <div class="col-sm-4">
                    <h5>{{ form_label(edit_form.mayor.department) }}</h5>
                    {{ form_widget(edit_form.mayor.department, { 'attr':{'disabled':'disabled'} }) }}
                </div>
                <div class="col-sm-4">
                    <h5>{{ form_label(edit_form.mayor.region) }}</h5>
                    {{ form_widget(edit_form.mayor.region, { 'attr':{'disabled':'disabled'} }) }}
                </div>
                <div class="col-sm-4">
                    <h5>{{ form_label(edit_form.mayor.latitude) }}</h5>
                    {{ form_widget(edit_form.mayor.latitude, { 'attr':{'disabled':'disabled'} }) }}
                </div>
                <div class="col-sm-4">
                    <h5>{{ form_label(edit_form.mayor.longitude) }}</h5>
                    {{ form_widget(edit_form.mayor.longitude, { 'attr':{'disabled':'disabled'} }) }}
                </div>
                <div class="col-sm-4">
                    <h5>{{ form_label(edit_form.mayor.population) }}</h5>
                    {{ form_widget(edit_form.mayor.population, { 'attr':{'disabled':'disabled'} }) }}
                </div>
                <div class="col-sm-4">
                    <h5>{{ form_label(edit_form.mayor.url, "Site internet") }}</h5>
                    {{ form_widget(edit_form.mayor.url) }}
                </div>
                <div class="col-sm-4">
                    <h5>{{ form_label(edit_form.mayor.facebook, "Facebook") }}</h5>
                    {{ form_widget(edit_form.mayor.facebook) }}
                </div>
                <div class="col-sm-4">
                    <h5>{{ form_label(edit_form.mayor.twitter, "Twitter") }}</h5>
                    {{ form_widget(edit_form.mayor.twitter) }}
                </div>
                <div class="col-sm-4">
                    <h5>{{ form_label(edit_form.mayor.google, "Google") }}</h5>
                    {{ form_widget(edit_form.mayor.google) }}
                </div>
            </div>
        {% endif %}
        {% if user.role == 2 %}
            <div class="col-sm-6">
                <div class="col-sm-12">
                    <h5 class="text-center">Informations - Partenaire</h5>
                </div>
                <div class="col-sm-4">
                    <h5>{{ form_label(edit_form.partner.firstName, "Prénom") }}</h5>
                    {{ form_widget(edit_form.partner.firstName) }}
                </div>
                <div class="col-sm-4">
                    <h5>{{ form_label(edit_form.partner.lastName, "Nom") }}</h5>
                    {{ form_widget(edit_form.partner.lastName) }}
                </div>
                <div class="col-sm-4">
                    <h5>{{ form_label(edit_form.partner.occupation, "Fonction") }}</h5>
                    {{ form_widget(edit_form.partner.occupation) }}
                </div>
                <div class="col-sm-4">
                    <h5>{{ form_label(edit_form.partner.email, "Email") }}</h5>
                    {{ form_widget(edit_form.partner.email) }}
                </div>
                <div class="col-sm-4">
                    <h5>{{ form_label(edit_form.partner.phone, "Téléphone") }}</h5>
                    {{ form_widget(edit_form.partner.phone) }}
                </div>

            </div>
            <div class="col-sm-6">
                <h5 class="text-center">Informations - Organisme</h5>

                <h5><label>Activity</label></h5>
                <div class="row">
                    <div class="col-sm-4">
                        {% set nbactiv = edit_form.partner.company.activities|length %}
                        {% set col =  nbactiv/3 %}
                        {% set col = col|round %}


                        {% for activity in edit_form.partner.company.activities %}
                        {{ form_errors(activity) }}
                        <div>
                            <input type="checkbox" id="{{ activity.vars.id }}"
                                   name="{{ activity.vars.full_name }}" value="{{ activity.vars.value }}"
                                    {% if activity.vars.checked == true %} checked="checked" {% endif %} >
                            <label for="{{ activity.vars.id }}">{{ activity.vars.label|slice(0,20) }}</label>
                        </div>
                        {% if (loop.index == col) or (loop.index == col*2) %}
                    </div>
                    <div class="col-sm-4">
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-sm-6">
                    <h5>{{ form_label(edit_form.partner.company.name, "Nom") }}</h5>
                    {{ form_widget(edit_form.partner.company.name) }}
                </div>
                <div class="col-sm-6">
                    <h5>{{ form_label(edit_form.partner.company.address) }}</h5>
                    {{ form_widget(edit_form.partner.company.address) }}
                </div>
                <div class="col-sm-6">
                    <h5>{{ form_label(edit_form.partner.company.zipCode, "Code postal") }}</h5>
                    {{ form_widget(edit_form.partner.company.zipCode) }}
                </div>
                <div class="col-sm-6">
                    <h5>{{ form_label(edit_form.partner.company.city, "Ville") }}</h5>
                    {{ form_widget(edit_form.partner.company.city) }}
                </div>
                <div class="col-sm-12">
                    <h5>{{ form_label(edit_form.partner.company.presentation) }}</h5>
                    {{ form_widget(edit_form.partner.company.presentation) }}
                </div>
                <div class="col-sm-4">
                    <h5>{{ form_label(edit_form.partner.company.logo) }}</h5>
                    {{ form_widget(edit_form.partner.company.logo) }}
                </div>
                <div class="col-sm-4">
                    <h5>{{ form_label(edit_form.partner.company.url) }}</h5>
                    {{ form_widget(edit_form.partner.company.url) }}
                </div>
                <div class="col-sm-4">
                    <h5>{{ form_label(edit_form.partner.company.facebook) }}</h5>
                    {{ form_widget(edit_form.partner.company.facebook) }}
                </div>
                <div class="col-sm-4">
                    <h5>{{ form_label(edit_form.partner.company.linkedin) }}</h5>
                    {{ form_widget(edit_form.partner.company.twitter) }}
                </div>
                <div class="col-sm-4">
                    <h5>{{ form_label(edit_form.partner.company.contactFirstName, "Contact Prénom") }}</h5>
                    {{ form_widget(edit_form.partner.company.contactFirstName) }}
                </div>
                <div class="col-sm-4">
                    <h5>{{ form_label(edit_form.partner.company.contactLastName, "Contact Nom") }}</h5>
                    {{ form_widget(edit_form.partner.company.contactLastName) }}
                </div>
                <div class="col-sm-4">
                    <h5>{{ form_label(edit_form.partner.company.contactPhone, "Téléphone") }}</h5>
                    {{ form_widget(edit_form.partner.company.contactPhone) }}
                </div>
                <div class="col-sm-4">
                    <h5>{{ form_label(edit_form.partner.company.contactEmail) }}</h5>
                    {{ form_widget(edit_form.partner.company.contactEmail) }}
                </div>
            </div>
        {% endif %}

    </div>
    {{ form_widget(edit_form._token) }}
    {{ form_end(edit_form, {'render_rest': false}) }}

    <script>
        function ConfirmDelete() {
            return confirm("Etes-vous sûr que vous voulez supprimer l'utilisateur?");
        }
    </script>
{% endblock %}
