{% extends 'private/admin/baseAdmin.html.twig' %}
{% block title %}Admin home{% endblock %}
{% block body %}
    <div class="menu-admin menu-user">
        <ul>
            <li>
                <a href="{{ path('admin_user_index') }}" data-toggle="tooltip" data-placement="right"
                   title="Liste Utilisateur"><i class="fa fa-users fa-admin"></i></a>
            </li>
            <li>
                <a href="{{ path('admin_user_new') }}" data-toggle="tooltip" data-placement="right"
                   title="Nouvel Utilisateur"><i
                            class="fa fa-user-plus fa-admin"></i></a>
            </li>
        </ul>
    </div>
    <h1>Test</h1>
    <div class="row">
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <ul class="pagination-mayor"></ul>
                </div>
                <div class="col-xs-12">
                    {{ form_start(filtreMayor, {
                        'attr':{
                            'class' : 'form-inline filter'
                        }
                    }) }}
                    <div class="form-group">
                        {{ form_row(filtreMayor.CodePostal, {
                            'attr':{
                                'class' : 'filter'
                            }}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(filtreMayor.CodeInsee, {
                            'attr':{
                                'class' : 'filter'
                            }}) }}
                    </div>
                    {{ form_end(filtreMayor) }}

                </div>
                <div class="col-xs-12">
                    <div class="jumbotron userMayor" id="content-mayor">

                    </div>
                </div>
                <div class="col-xs-12 text-center">
                    <ul class="pagination-mayor"></ul>
                </div>

            </div>

        </div>
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <ul class="pagination-partner"></ul>
                </div>
                <div class="col-xs-12">
                </div>
                <div class="col-xs-12">
                    <div class="jumbotron userPartner" id="content-partner">

                    </div>
                </div>
                <div class="col-xs-12 text-center">
                    <ul class="pagination-partner"></ul>
                </div>
            </div>

        </div>
    </div>



{% endblock %}
{% block javascripts %}
    {% set totalPagePart = (maxPart/10)|round %}
    {% if  totalPagePart == 0 %}
        {% set totalPagePart = 1 %}
    {% endif %}
    {% set totalPageMayor= (maxMayor/10)|round %}
    {% if  totalPageMayor == 0 %}
        {% set totalPageMayor = 1 %}
    {% endif %}
    <script type="text/javascript">
        $(document).ready(function () {

            document.getElementById("filtre_user_mayor_CodePostal").removeAttribute("required");
            document.getElementById("filtre_user_mayor_CodeInsee").removeAttribute("required");

            new Clipboard('.fa-envelope');

            $('.filter').keyup(function () {
                console.log("USE FILTER");
                var postal = $('#filtre_user_mayor_CodePostal').val();
                var insee = $('#filtre_user_mayor_CodeInsee').val();
                if (postal.length >= 2 || insee.length >= 2) {
                    if (!isNaN(postal) && !isNaN(insee)) {
                        $.ajax({
                            type: "POST",
                            url: "/ajax/listMayorFiltre",
                            dataType: "json",
                            data: {
                                'CodePostal': postal,
                                'CodeInsee': insee
                            },
                            timeout: 3000,
                            success: function (response) {
                                var mayors = response.data;
                                console.log(response.data);
                                html = "";
                                for (i = 0; i < mayors.length; i++) {

                                    var linkShow = "{{ path('admin_user_show', {'id': "idUser"}) }}".replace('idUser', mayors[i].id);
                                    var linkEdit = "{{ path('admin_user_edit', {'id': "idUser"}) }}".replace('idUser', mayors[i].id);
                                    var result = {
                                        'linkShow': linkShow,
                                        'linkEdit': linkEdit,
                                        'name': mayors[i].commune,
                                        'zipcode': mayors[i].zipcode,
                                        'email': mayors[i].email
                                    };
                                    html += trameHTML(result);
                                }
                                $('#content-mayor').html(html);
                            },
                            error: function () {
                                console.log('Ajax call error');
                            }
                        })
                    }
                }

            });


            $('.pagination-partner').twbsPagination({

                totalPages: {{ totalPagePart }},
                visiblePages: 10,
                onPageClick: function (event, page) {
                    var max = page * 10;
                    var offset = max - 10;
                    $.ajax({
                        type: "POST",
                        url: "/ajax/listPart",
                        dataType: "json",
                        data: {'offset': offset},
                        timeout: 3000,
                        success: function (response) {
                            var partners = response.data;

                            html = "";
                            for (i = 0; i < partners.length; i++) {
                                var linkShow = "{{ path('admin_user_show', {'id': "idUser"}) }}".replace('idUser', partners[i].id);
                                var linkEdit = "{{ path('admin_user_edit', {'id': "idUser"}) }}".replace('idUser', partners[i].id);
                                var result = {
                                    'linkShow': linkShow,
                                    'linkEdit': linkEdit,
                                    'name': partners[i].name,
                                    'zipcode': partners[i].zipcode,
                                    'email': partners[i].email
                                };

                                html += '<h5>' +
                                    '<div class="row">' +
                                    '<div class="col-xs-2">' +
                                    '<a href="' + linkShow + '">' +
                                    '<i class="fa fa-eye fa-admin-mini"></i>' +
                                    '</a>' +
                                    '<a href="' + linkEdit + '">' +
                                    '<i class="fa fa-pencil fa-admin-mini"></i>' +
                                    '</a>' +
                                    '</div>\n' +
                                    '<div class="col-xs-4">' + partners[i].name + '</div>\n' +
                                    '<div class="col-xs-2">' + partners[i].zipcode + '</div>\n' +
                                    '<div class="col-xs-3">' +
                                    '<input id="mail-' + partners[i].zipcode + '" value="' + partners[i].email + '" class="form-control">' +
                                    '</div>\n' +
                                    '<div class="col-xs-1">' +
                                    '<i  data-clipboard-target="#mail-' + partners[i].zipcode + '" class="fa fa-envelope fa-admin-mini"></i>' +
                                    '</div>' +
                                    '</div>' +
                                    '</h5>';
                            }
                            html += "";
                            $('#content-partner').html(html);
                        },
                        error: function () {
                            console.log('Ajax call error');
                        }
                    })
                }
            });
        });
        $(function () {

            $('.pagination-mayor').twbsPagination({
                totalPages: {{ totalPageMayor }},
                visiblePages: 10,
                onPageClick: function (event, page) {
                    var max = page * 10;
                    var offset = max - 10;
                    $.ajax({
                        type: "POST",
                        url: "/ajax/listMayor",
                        dataType: "json",
                        data: {'offset': offset},
                        timeout: 3000,
                        success: function (response) {

                            var mayors = response.data;
                            html = "";
                            for (i = 0; i < mayors.length; i++) {
                                var linkShow = "{{ path('admin_user_show', {'id': "idUser"}) }}".replace('idUser', mayors[i].id);
                                var linkEdit = "{{ path('admin_user_edit', {'id': "idUser"}) }}".replace('idUser', mayors[i].id);
                                var result = {
                                    'linkShow': linkShow,
                                    'linkEdit': linkEdit,
                                    'name': mayors[i].commune,
                                    'zipcode': mayors[i].zipcode,
                                    'email': mayors[i].email
                                };
                                html += trameHTML(result);
                            }
                            html += "";
                            $('#content-mayor').html(html);
                        },
                        error: function () {
                            console.log('Ajax call error');
                        }
                    })
                }
            });
        });

        function trameHTML(result) {

            return_html = "";
            return_html += '<h5>' +
                '<div class="row">' +
                '<div class="col-xs-2">' +
                '<a href="' + result.linkShow + '">' +
                '<i class="fa fa-eye fa-admin-mini"></i>' +
                '</a>' +
                '<a href="' + result.linkEdit + '">' +
                '<i class="fa fa-pencil fa-admin-mini"></i>' +
                '</a>' +
                '</div>\n' +
                '<div class="col-xs-4">' + result.name + '</div>\n' +
                '<div class="col-xs-2">' + result.zipcode + '</div>\n' +
                '<div class="col-xs-3">' +
                '<input id="mail-' + result.zipcode + '" value="' + result.email + '" class="form-control">' +
                '</div>\n' +
                '<div class="col-xs-1">' +
                '<i  data-clipboard-target="#mail-' + result.zipcode + '" class="fa fa-envelope fa-admin-mini"></i>' +
                '</div>' +
                '</div>' +
                '</h5>';
            return return_html;

        }
    </script>
{% endblock %}