    {% extends 'private/admin/baseAdmin.html.twig' %}

{% block body %}
    <div class="menu-admin menu-user">
        <ul>
            <li>
                <a href="{{ path('admin_user_index') }}" data-toggle="tooltip" data-placement="right"
                   title="Liste Utilisateur"><i class="fa fa-users fa-admin"></i></a>
            </li>
            <li>
                <a href="{{ path('admin_user_new') }}" data-toggle="tooltip" data-placement="right"
                   title="Nouvel Utilisateur"><i
                            class="fa fa-user-plus fa-admin"></i></a>
            </li>
            <li>
                <a onclick="document.amrf_publicrooterbundle_user.submit();" data-toggle="tooltip"
                   data-placement="right"
                   title="Nouvel Utilisateur"><i class="fa fa-check fa-admin"></i></a>
            </li>
        </ul>
    </div>
    <h1>Nouvel Utilisateur</h1>
    {{ form_start(form) }}
    <div class="row">
        <div class="col-sm-12">
            {{ form_label(form.role, 'Rôle') }}
            <div class="select">
                {{ form_widget(form.role, {'attr': {
                    'onchange': "change_valeur()"
                } }
                ) }}
                <div class="select_arrow">
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="jumbotron userMayor">

                <div class="tab-content">
                    <div id="User" class="tab-pane fade in active">
                        <div class="row">
                            <div class="col-sm-2 text-left">
                                {# <a data-toggle="tab" href="#Mayor"><i class="fa fa-angle-left fa-admin"></i></a>#}
                            </div>
                            <div class="col-sm-8 text-center">
                                <div class="row">
                                    <div class="col-sm-3 ">

                                        <div class="step active">1</div>

                                    </div>
                                    <div class="col-sm-3 ">

                                        <div class="step">2</div>

                                    </div>
                                    <div class="col-sm-3 ">

                                        <div class="step">3</div>

                                    </div>
                                    <div class="col-sm-3 ">

                                        <div class="step">4</div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2 text-right">
                                <a data-toggle="tab" href="#Mayor"><i class="fa fa-angle-right fa-admin"></i></a>
                            </div>
                        </div>
                        <div class="row first">
                            <div class="col-sm-3">
                                <h3>{{ form_label(form.login, 'Login') }}</h3>
                            </div>
                            <div class="col-sm-1 text-right">
                                <i class="fa fa-question fa-admin-mini" data-toggle="tooltip" data-placement="right"
                                   title="Message a voir j'ai pas d'idée a 23h37"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                {{ form_widget(form.login) }}
                            </div>
                        </div>
                        <div class="row User-2 first hidden">
                            <div class="col-sm-3">
                                <h3>{{ form_label(form.email, 'Email') }}</h3>
                            </div>
                            <div class="col-sm-1 text-right">
                                <i class="fa fa-question fa-admin-mini" data-toggle="tooltip" data-placement="right"
                                   title="Message a voir j'ai pas d'idée a 23h37"></i>
                            </div>
                        </div>
                        <div class="row User-2 hidden">
                            <div class="col-sm-4">
                                {{ form_widget(form.email) }}
                            </div>
                        </div>
                        <div class="row User-2 first hidden">
                            <div class="col-sm-3">
                                <h3>{{ form_label(form.password, 'Mot de Passe') }}</h3>
                            </div>
                            <div class="col-sm-1 text-right">
                                <i class="fa fa-question fa-admin-mini" data-toggle="tooltip" data-placement="right"
                                   title="Si vous laissez ce champ vide le mot de passe généré sera : CODE INSEE+CODE POSTAL"></i>
                            </div>
                        </div>
                        <div class="row User-2 hidden">
                            <div class="col-sm-4">
                                {{ form_widget(form.password, {
                                    'attr':{
                                        'placeholder' : 'Mot de passe généré Automatiquement',
                                    }
                                }) }}
                            </div>
                        </div>
                    </div>
                    <div id="Mayor" class="tab-pane fade">
                        <div class="row">
                            <div class="col-sm-2 text-left">
                                <a data-toggle="tab" href="#User">
                                    <i class="fa fa-angle-left fa-admin"></i>
                                </a>
                            </div>
                            <div class="col-sm-8 text-center">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="step ">1</div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="step active">2</div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="step">3</div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="step">4</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2 text-right">
                                <a data-toggle="tab" href="#Commune">
                                    <i class="fa fa-angle-right fa-admin"></i>
                                </a>
                            </div>
                        </div>

                        <div class="row first">
                            <div class="col-sm-3">
                                <h3>{{ form_label(form.mayor.lastName, 'Nom') }}</h3>
                            </div>
                            <div class="col-sm-1 text-right">
                                <i class="fa fa-question fa-admin-mini" data-toggle="tooltip" data-placement="right"
                                   title="Message a voir j'ai pas d'idée a 23h37"></i>
                            </div>
                            <div class="col-sm-3">
                                <h3>{{ form_label(form.mayor.firstName, 'Prénom') }}</h3>
                            </div>
                            <div class="col-sm-1 text-right">
                                <i class="fa fa-question fa-admin-mini" data-toggle="tooltip" data-placement="right"
                                   title="Message a voir j'ai pas d'idée a 23h37"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                {{ form_widget(form.mayor.lastName) }}
                            </div>
                            <div class="col-sm-4">
                                {{ form_widget(form.mayor.firstName) }}
                            </div>
                        </div>

                        <div class="row first">
                            <div class="col-sm-3">
                                <h3>{{ form_label(form.mayor.email, 'Email') }}</h3>
                            </div>
                            <div class="col-sm-1 text-right">
                                <i class="fa fa-question fa-admin-mini" data-toggle="tooltip" data-placement="right"
                                   title="Message a voir j'ai pas d'idée a 23h37"></i>
                            </div>
                            <div class="col-sm-3">
                                <h3>{{ form_label(form.mayor.phone, 'Téléphone') }}</h3>
                            </div>
                            <div class="col-sm-1 text-right">
                                <i class="fa fa-question fa-admin-mini" data-toggle="tooltip" data-placement="right"
                                   title="Message a voir j'ai pas d'idée a 23h37"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                {{ form_widget(form.mayor.email) }}
                            </div>
                            <div class="col-sm-4">
                                {{ form_widget(form.mayor.phone) }}
                            </div>
                        </div>

                    </div>
                    <div id="Commune" class="tab-pane fade">
                        <div class="row">
                            <div class="col-sm-2 text-left">
                                <a data-toggle="tab" href="#Mayor">
                                    <i class="fa fa-angle-left fa-admin"></i>
                                </a>
                            </div>
                            <div class="col-sm-8 text-center">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="step ">1</div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="step ">2</div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="step active">3</div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="step">4</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2 text-right">
                                <a data-toggle="tab" href="#Reseaux">
                                    <i class="fa fa-angle-right fa-admin"></i>
                                </a>
                            </div>
                        </div>

                        <div class="row first">
                            <div class="col-sm-3">
                                <h3>{{ form_label(form.mayor.insee, 'INSEE') }}</h3>
                            </div>
                            <div class="col-sm-1 text-right">
                                <i class="fa fa-question fa-admin-mini" data-toggle="tooltip" data-placement="right"
                                   title="Message a voir j'ai pas d'idée a 23h37"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                {{ form_widget(form.mayor.insee) }}
                            </div>
                        </div>

                        <div class="row first">
                            <div class="col-sm-3">
                                <h3>{{ form_label(form.mayor.address, 'Adresse') }}</h3>
                            </div>
                            <div class="col-sm-1 text-right">
                                <i class="fa fa-question fa-admin-mini" data-toggle="tooltip" data-placement="right"
                                   title="Message a voir j'ai pas d'idée a 23h37"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                {{ form_widget(form.mayor.address) }}
                            </div>
                        </div>

                        <div class="row first Geoloc hidden">
                            <div class="col-sm-3">
                                <h3>{{ form_label(form.mayor.town, 'Ville') }}</h3>
                            </div>
                            <div class="col-sm-1 text-right">
                                <i class="fa fa-question fa-admin-mini"
                                   data-toggle="tooltip" data-placement="right"
                                   title="Message a voir j'ai pas d'idée a 23h37"></i>
                            </div>
                            <div class="col-sm-2">
                                <h3>{{ form_label(form.mayor.zipCode, 'Code Postal') }}</h3>
                            </div>
                            <div class="col-sm-2">
                                <h3>{{ form_label(form.mayor.department, 'Département') }}</h3>
                            </div>
                            <div class="col-sm-1 text-right">
                                <i class="fa fa-question fa-admin-mini"
                                   data-toggle="tooltip" data-placement="right"
                                   title="Message a voir j'ai pas d'idée a 23h37"></i>
                            </div>
                            <div class="col-sm-2">
                                <h3>{{ form_label(form.mayor.region, 'Région') }}</h3>
                            </div>
                            <div class="col-sm-1 text-right">
                                <i class="fa fa-question fa-admin-mini"
                                   data-toggle="tooltip" data-placement="right"
                                   title="Message a voir j'ai pas d'idée a 23h37"></i>
                            </div>
                        </div>
                        <div class="row Geoloc hidden">
                            <div class="col-sm-4">
                                {{ form_widget(form.mayor.town) }}
                            </div>
                            <div class="col-sm-2">
                                {{ form_widget(form.mayor.zipCode) }}
                            </div>
                            <div class="col-sm-3">
                                {{ form_widget(form.mayor.department, {'attr': {
                                    'disabled': 'disabled'
                                } }) }}
                            </div>
                            <div class="col-sm-3">
                                {{ form_widget(form.mayor.region, {'attr': {
                                    'disabled': 'disabled'
                                } }) }}
                            </div>
                        </div>
                        <div class="row first Geoloc hidden">
                            <div class="col-sm-3">
                                <h3>{{ form_label(form.mayor.latitude, 'Lattitude') }}</h3>
                            </div>
                            <div class="col-sm-1 text-right">
                                <i class="fa fa-question fa-admin-mini"
                                   data-toggle="tooltip" data-placement="right"
                                   title="Message a voir j'ai pas d'idée a 23h37"></i>
                            </div>
                            <div class="col-sm-3">
                                <h3>{{ form_label(form.mayor.longitude, 'Longitude') }}</h3>
                            </div>
                            <div class="col-sm-1 text-right">
                                <i class="fa fa-question fa-admin-mini"
                                   data-toggle="tooltip" data-placement="right"
                                   title="Message a voir j'ai pas d'idée a 23h37"></i>
                            </div>
                            <div class="col-sm-3">
                                <h3>{{ form_label(form.mayor.longitude, 'Population') }}</h3>
                            </div>
                            <div class="col-sm-1 text-right">
                                <i class="fa fa-question fa-admin-mini"
                                   data-toggle="tooltip" data-placement="right"
                                   title="Message a voir j'ai pas d'idée a 23h37"></i>
                            </div>
                        </div>
                        <div class="row Geoloc hidden">
                            <div class="col-sm-4">
                                {{ form_widget(form.mayor.latitude, {'attr': {
                                    'disabled': 'disabled'
                                } }) }}
                            </div>
                            <div class="col-sm-4">
                                {{ form_widget(form.mayor.longitude, {'attr': {
                                    'disabled': 'disabled'
                                } }) }}
                            </div>
                            <div class="col-sm-4">
                                {{ form_widget(form.mayor.population, {'attr': {
                                    'disabled': 'disabled'
                                } }) }}
                            </div>
                        </div>
                    </div>

                    <div id="Reseaux" class="row tab-pane fade">
                        <div class="row">
                            <div class="col-sm-12">
                                <h5>ieugheobjtoej</h5>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
        <div class="col-sm-12">
            <div class="jumbotron  userPartner hidden">
            </div>
        </div>
    </div>


    {{ form_widget(form) }}
    {{ form_end(form) }}
    {#
    {{ form_start(form) }}
    <div class="row">
        <div class="col-sm-6">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-sm-6">
                        {{ form_label(form.login) }}
                        {{ form_widget(form.login) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_label(form.password, 'Mot de passe') }}
                        {{ form_widget(form.password) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_label(form.role, 'Rôle') }}
                        <div class="select">
                            {{ form_widget(form.role, {'attr': {
                                'onchange': "change_valeur()"
                            } }
                            ) }}
                            <div class="select_arrow">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        {{ form_label(form.status, 'Statut') }}
                        <div class="select">
                            {{ form_widget(form.status) }}
                            <div class="select_arrow">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        {{ form_label(form.email, 'Email') }}
                        {{ form_widget(form.email) }}
                    </div>
                    {{ form_widget(form.creationDate, {'attr': {
                        'class': "hidden"
                    } }) }}
                    {{ form_widget(form.lastLogin, {'attr': {
                        'class': "hidden"
                    } }) }}
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="jumbotron userMayor">
                <h4>Maire</h4>
                <div class="row">
                    <div class="col-sm-6">
                        {{ form_label(form.mayor.firstName, 'Prénom') }}
                        {{ form_widget(form.mayor.firstName) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_label(form.mayor.lastName, 'Nom') }}
                        {{ form_widget(form.mayor.lastName) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_label(form.mayor.address, 'Adresse') }}
                        {{ form_widget(form.mayor.address) }}

                    </div>
                    <div class="col-sm-6">
                        {{ form_label(form.mayor.insee, 'INSEE') }}
                        {{ form_widget(form.mayor.insee) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_label(form.mayor.email) }}
                        {{ form_widget(form.mayor.email) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_label(form.mayor.phone, 'Téléphone') }}
                        {{ form_widget(form.mayor.phone) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_label(form.mayor.town, 'Ville') }}
                        {{ form_widget(form.mayor.town) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_label(form.mayor.zipCode, 'Code Postal') }}
                        {{ form_widget(form.mayor.zipCode) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_widget(form.mayor.department, {'attr': {
                            'class': "hidden"
                        } }) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_widget(form.mayor.region, {'attr': {
                            'class': "hidden"
                        } }) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_widget(form.mayor.latitude, {'attr': {
                            'class': "hidden"
                        } }) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_widget(form.mayor.longitude, {'attr': {
                            'class': "hidden"
                        } }) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_widget(form.mayor.population, {'attr': {
                            'class': "hidden"
                        } }) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_label(form.mayor.url, 'Site internet') }}
                        {{ form_widget(form.mayor.url) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_label(form.mayor.facebook) }}
                        {{ form_widget(form.mayor.facebook) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_label(form.mayor.twitter) }}
                        {{ form_widget(form.mayor.twitter) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_label(form.mayor.google) }}
                        {{ form_widget(form.mayor.google) }}
                    </div>
                </div>
            </div>
            <div class="jumbotron userPartner hidden">
                <h4>Partenaire</h4>
                <div class="row">
                    <div class="col-sm-6">
                        {{ form_label(form.partner.firstName, 'Prénom') }}
                        {{ form_widget(form.partner.firstName) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_label(form.partner.lastName, 'Nom') }}
                        {{ form_widget(form.partner.lastName) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_label(form.partner.occupation, 'Fonction') }}
                        {{ form_widget(form.partner.occupation) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_label(form.partner.phone, 'Téléphone') }}
                        {{ form_widget(form.partner.phone) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_label(form.partner.email) }}
                        {{ form_widget(form.partner.email) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_label(form.partner.company, 'Organisme') }}
                        {{ form_widget(form.partner.company) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_widget(form) }}
    {{ form_end(form) }}
#}

{% endblock %}
    {% block javascripts %}
        <script>
            $(document).ready(function () {
                $('#amrf_publicrooterbundle_user_login').keyup(function () {
                    var login = $(this).val();
                    if (login.length >= 5) {
                        $(".User-2").removeClass("hidden");
                        if (!isNaN(login)) {
                            $("#amrf_publicrooterbundle_user_mayor_insee").val(login);
                        }
                    }

                });

                $("#amrf_publicrooterbundle_user_mayor_insee").keyup(function () {
                    var insee = $(this).val();
                    if (insee.length >= 5) {
                        $(".Geoloc").removeClass("hidden");
                        $.ajax({
                            type: "GET",
                            url: "https://geo.api.gouv.fr/communes?fields=code,nom,codesPostaux,codeDepartement,codeRegion,population,centre&code=" + insee,
                            dataType: "json",
                            timeout: 3000,
                            success: function (response) {
                                var longitude = response[0].centre.coordinates[0];
                                var lattitude = response[0].centre.coordinates[1];
                                var zipcode = response[0].codesPostaux[0];
                                var codeDepartement = response[0].codeDepartement;
                                var codeRegion = response[0].codeRegion;
                                var town = response[0].nom;
                                var population = response[0].population;

                                $("#amrf_publicrooterbundle_user_mayor_town").val(town);
                                $("#amrf_publicrooterbundle_user_mayor_zipCode").val(zipcode);
                                $("#amrf_publicrooterbundle_user_mayor_department").val(codeDepartement);
                                $("#amrf_publicrooterbundle_user_mayor_region").val(codeRegion);
                                $("#amrf_publicrooterbundle_user_mayor_latitude").val(lattitude);
                                $("#amrf_publicrooterbundle_user_mayor_longitude").val(longitude);
                                $("#amrf_publicrooterbundle_user_mayor_population").val(population);

                            },
                            error: function () {
                                $('#autocomplete').text('Ajax call error');
                            }
                        })
                    } else {
                        $('#autocomplete').html('');
                    }
                });
            });

            function change_valeur() {
                var select = document.getElementById("amrf_publicrooterbundle_user_role");
                var choice = select.selectedIndex;
                var role = select.options[choice].value;

                if (role == 1) {
                    $(".userPartner").addClass("hidden");
                    $(".userMayor").removeClass("hidden");

                }
                if (role == 2) {
                    $(".userMayor").addClass("hidden");
                    $(".userPartner").removeClass("hidden");

                }
                if (role == 3) {
                    $(".userMayor").addClass("hidden");
                    $(".userPartner").addClass("hidden");

                }
            }
        </script>
    {% endblock %}
