{% extends 'base.html.twig' %}
{% block title %}Mon espace{% endblock %}

{% block navbar %}
    {% set options = {'status':1} %}
    {% include 'components/navbar.html.twig' with options %}
{% endblock %}

{% block body %}

    <h2 class="center-align">Espace des Maires</h2>
    <div class="row">
        <div class="col-xs-12">
            <div class="bck-maire">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <i class="fa fa-folder-open"></i>
                        <h3>PROJETS</h3>
                    </div>
                    <div class="col-xs-12 text-center">
                        <a href="{{ path('search') }}">
                            <div class="btn search">
                                <span class="fa fa-search"></span> RECHERCHER
                            </div>
                        </a>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4 text-center">
                        <a href="{{ path('mayor_project_new') }}">
                            <div class="btn hidden-xs">
                                <span class="fa fa-plus"></span> CRÉER UNE FICHE PROJET
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 text-center">
                        <a href="{{ path('mayor_project') }}">
                            <div class="btn hidden-xs">
                                <span class="fa fa-file-text"></span> CONSULTER / MODIFIER <br>
                                MES FICHES
                            </div>
                            <div class="btn hidden-lg hidden-md hidden-sm">
                                <span class="fa fa-file-text"></span> CONSULTER MES FICHES
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 text-center">
                        <a href="{{ path('mayor_favorite') }}">
                            <div class="btn">
                                <i class="fa fa-star-o"></i> MES FAVORIS
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-xs-12">
            <div class="bck-maire">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <i class="fa fa-user"></i>
                        <h3>MON PROFIL</h3>
                    </div>
                    <div class="col-xs-12 text-center">
                        <a href="{{ path('mayor_profil') }}">
                            <div class="btn btn-xs"><span class="fa fa-pencil"></span> VOIR / MODIFIER</div>
                        </a>
                    </div>
                    <div class="col-xs-12 text-center">
                        <a href="{{ path('change_password') }}">
                            <div class="btn pass btn-xs"><span class="fa fa-lock"></span> CHANGER MON MOT DE PASSE</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xs-12">
            <div class="bck-maire">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <i class="fa fa-users"></i>
                        <h3>PARTENAIRES</h3>
                    </div>
                    <div class="col-xs-12 text-center">
                        <a href="{{ path('directory') }}">
                            <div class="btn"><span class="fa fa-search"></span> TROUVER</div>
                        </a>
                    </div>
                    <div class="col-xs-12 text-center">
                        <a href="{{ path('mayor_favorite') }}">
                            <div class="btn"><i class="fa fa-star-o"></i>
                                MES FAVORIS
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}