{% extends 'private/admin/baseAdmin.html.twig' %}

{% block body %}

    <div class="menu-admin menu-project">
        <ul>
            <li>
                <a href="{{ path('admin_dictionary_index') }}" data-toggle="tooltip" data-placement="bottom"
                   title="Liste des mots"><i class="fa fa-archive fa-admin"></i></a>
            </li>
            <li>
                <a href="{{ path('admin_dictionary_new') }}" data-toggle="tooltip" data-placement="top"
                   title="Nouveau mot"><i
                            class="fa fa-plus fa-admin"></i></a>
            </li>
        </ul>
    </div>
    <h1>Dictionnaire</h1>
    <table>
        <thead>
        <tr>
            <th>Actions</th>
            <th>Type</th>
            <th>Nom</th>

        </tr>
        </thead>
        <tbody>
        {% for dictionary in dictionaries %}
            <tr>
                <td>

                    <a href="{{ path('admin_dictionary_show', { 'id': dictionary.id }) }}"><i
                                class="fa fa-eye fa-admin-mini"></i></a>

                    <a href="{{ path('admin_dictionary_edit', { 'id': dictionary.id }) }}"><i
                                class="fa fa-pencil fa-admin-mini"></i></a>

                </td>
                <td>
                    {% if dictionary.type == 1 %}
                        Thematique
                    {% elseif dictionary.type == 2 %}
                        Secteur d'activité
                    {% else %}
                        Mot clé
                    {% endif %}

                </td>
                <td>{{ dictionary.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation text-center">
        {{ knp_pagination_render(dictionaries, 'Pagination/twitter_bootstrap_v3_pagination.html.twig') }}
    </div>

{% endblock %}
