{% extends 'private/admin/baseAdmin.html.twig' %}

{% block body %}
    <h1>Dictionnaire</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Name</th>
                <th>Value</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dictionary in dictionaries %}
            <tr>
                <td><a href="{{ path('admin_dictionary_show', { 'id': dictionary.id }) }}">{{ dictionary.id }}</a></td>
                <td>{{ dictionary.type }}</td>
                <td>{{ dictionary.name }}</td>
                <td>{{ dictionary.value }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_dictionary_show', { 'id': dictionary.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_dictionary_edit', { 'id': dictionary.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation text-center">
        {{ knp_pagination_render(dictionaries) }}
    </div>

    <ul>
        <li>
            <a href="{{ path('admin_dictionary_new') }}">Create a new dictionary</a>
        </li>
    </ul>
{% endblock %}
