{% extends 'private/admin/baseAdmin.html.twig' %}
{% block body %}
    <h1>Dictionary</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ dictionary.id }}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{ dictionary.type }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ dictionary.name }}</td>
        </tr>
        <tr>
            <th>Value</th>
            <td>{{ dictionary.value }}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_dictionary_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_dictionary_edit', { 'id': dictionary.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
