{% extends 'private/admin/baseAdmin.html.twig' %}

{% block body %}
    <div class="menu-admin menu-company">
        <ul>
            <li>
                <a href="{{ path('admin_company_index') }}" data-toggle="tooltip" data-placement="right"
                   title="Liste Organisme"><i class="fa fa-archive fa-admin"></i></a>
            </li>
            <li>
                <a href="{{ path('admin_company_new') }}" data-toggle="tooltip" data-placement="right"
                   title="Nouveau Organisme"><i
                            class="fa fa-plus fa-admin"></i></a>
            </li>
            <li class="submitForm">
                <a data-toggle="tooltip" data-placement="right"
                   title="Nouvel Organisme"><i class="fa fa-check fa-admin"></i></a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                <button class="fa-admin" data-toggle="tooltip" data-placement="right"
                        title="Supprimer Organisme" type="submit"><i class="fa fa-trash-o"></i></button>
                {{ form_end(delete_form) }}

            </li>
        </ul>
    </div>
    <h1>Company edit</h1>

    {{ form_start(edit_form) }}

    <div class="form-group row" id="editOrganisme">
        <div class="col-sm-6">
            <div class="col-sm-12">
                <h5>{{ form_label(edit_form.name) }}</h5>
                {{ form_widget(edit_form.name) }}
            </div>
            <div class="col-sm-4">
                <h5>{{ form_label(edit_form.address) }}</h5>
                {{ form_widget(edit_form.address) }}
            </div>
            <div class="col-sm-4">
                <h5>{{ form_label(edit_form.zipCode) }}</h5>
                {{ form_widget(edit_form.zipCode) }}
            </div>
            <div class="col-sm-4">
                <h5>{{ form_label(edit_form.city) }}</h5>
                {{ form_widget(edit_form.city) }}
            </div>
            <div class="col-sm-12">
                <h5><label>Logo</label></h5>
                {% if company.logo %}
                    {% for logo in company.logo %}
                        {% set img = 'upload/organisme/' ~ company.id ~ '/photos/' ~ image %}
                        {% set imglink = 'upload-project-' ~ company.id ~ '-photos-' ~ image %}
                        <div style="background-image: url('{{ asset(img) }}')" class="adminImageProject col-sm-3">
                            <i class="fa fa-trash fa-admin-mini" onclick="deleteFile('{{ imglink }}')"></i>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if company.logo|length < 4 %}
                    <div class="adminImageProject col-sm-3">
                        <i class="fa fa-upload fa-admin" data-toggle="modal" data-target="#modalImageUpload"></i>
                    </div>
                {% endif %}

            </div>

            <div class="col-sm-12">
                <h5>{{ form_label(edit_form.presentation) }}</h5>
                {{ form_widget(edit_form.presentation) }}
            </div>

        </div>
        <div class="col-sm-6">
            <div class="col-sm-6">
                <h5>{{ form_label(edit_form.contactFirstName) }}</h5>
                {{ form_widget(edit_form.contactFirstName) }}
            </div>
            <div class="col-sm-6">
                <h5>{{ form_label(edit_form.contactLastName) }}</h5>
                {{ form_widget(edit_form.contactLastName) }}
            </div>
            <div class="col-sm-6">
                <h5>{{ form_label(edit_form.contactPhone) }}</h5>
                {{ form_widget(edit_form.contactPhone) }}
            </div>
            <div class="col-sm-6">
                <h5>{{ form_label(edit_form.contactEmail) }}</h5>
                {{ form_widget(edit_form.contactEmail) }}
            </div>
            <div class="col-sm-6">
                <h5>{{ form_label(edit_form.url) }}</h5>
                {{ form_widget(edit_form.url) }}
            </div>
            <div class="col-sm-6">
                <h5>{{ form_label(edit_form.facebook) }}</h5>
                {{ form_widget(edit_form.facebook) }}
            </div>
            <div class="col-sm-6">
                <h5>{{ form_label(edit_form.linkedin) }}</h5>
                {{ form_widget(edit_form.linkedin) }}
            </div>
            <div class="col-sm-6">
                <h5>{{ form_label(edit_form.twitter) }}</h5>
                {{ form_widget(edit_form.twitter) }}
            </div>
            <div class="col-sm-12">
                <h5>{{ form_label(edit_form.activities) }}</h5>
                <div class="col-sm-4">
                    {% set nbact = edit_form.activities|length %}
                    {% set col =  nbact/3 %}
                    {% set col = col|round %}


                    {% for activity in edit_form.activities %}
                    {{ form_errors(activity) }}
                    <div>
                        <input type="checkbox" id="{{ activity.vars.id }}"
                               name="{{ activity.vars.full_name }}" value="{{ activity.vars.value }}"
                                {% if activity.vars.checked == true %} checked="checked" {% endif %} >
                        <label for="{{ activity.vars.id }}">{{ activity.vars.label|slice(0,20) }}</label>
                    </div>
                    {% if (loop.index == col) or (loop.index == col*2) %}
                </div>
                <div class="col-sm-4">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {{ form_widget(edit_form._token) }}
    {{ form_end(edit_form, {'render_rest': false}) }}

{% endblock %}
