{% extends 'private/admin/baseAdmin.html.twig' %}

{% block body %}
    <div class="menu-admin menu-project">
        <ul>
            <li>
                <a href="{{ path('admin_company_index') }}" data-toggle="tooltip" data-placement="right"
                   title="Liste Organismes"><i class="fa fa-archive fa-admin"></i></a>
            </li>
            <li>
                <a href="{{ path('admin_company_new') }}" data-toggle="tooltip" data-placement="right"
                   title="Nouvel Organisme"><i
                            class="fa fa-plus fa-admin"></i></a>
            </li>
        </ul>
    </div>

    <h1>Liste des organismes</h1>

    {% for key, company in companies %}

        <h4 data-toggle="collapse" data-target="#company_{{ key }}">
            <div class="row">
                <div class="col-xs-1">

                    <a href="{{ path('admin_company_show', { 'slug': company.slug }) }}"><i
                                class="fa fa-eye fa-admin-mini"></i></a>
                    <a href="{{ path('admin_company_edit', { 'slug': company.slug }) }}"><i
                                class="fa fa-pencil fa-admin-mini"></i></a>
                </div>
                <div class="col-xs-3">
                    {{ company.name }} <span class="caret"></span>
                </div>
                <div class="col-xs-5">
                    {% for activity in company.activities %}
                        <span class="label label-primary">{{ activity.name }}</span>
                    {% endfor %}
                </div>
            </div>
        </h4>
        <div id="company_{{ key }}" class="collapse">
            <div class=" jumbotron">
                <div class="row">
                    <div class="col-xs-2">
                        {% for logo in company.logo %}
                            <img src="{{ img }}" alt="" width="50px">
                        {% endfor %}
                    </div>
                    <div class="col-xs-3">
                        <a href="{{ company.url }}"><i class="fa fa-link fa-admin"></i></a>
                        <a href="{{ company.linkedin }}"><i class="fa fa-linkedin-square fa-admin"></i></a>
                        <a href="{{ company.facebook }}"><i class="fa fa-facebook-square fa-admin"></i></a>
                        <a href="{{ company.twitter }} "><i class="fa fa-twitter-square fa-admin"></i></a>
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="navigation text-center">
        {{ knp_pagination_render(companies, 'Pagination/twitter_bootstrap_v3_pagination.html.twig') }}
    </div>
{% endblock %}
