{% extends 'private/admin/baseAdmin.html.twig' %}

{% block body %}
    <div class="menu-admin menu-company">
        <ul>
            <li>
                <a href="{{ path('admin_company_index') }}" data-toggle="tooltip" data-placement="right"
                   title="Liste Organisme"><i class="fa fa-archive fa-admin"></i></a>
            </li>
            <li>
                <a href="{{ path('admin_company_new') }}" data-toggle="tooltip" data-placement="right"
                   title="Nouveau Organisme"><i
                            class="fa fa-plus fa-admin"></i></a>
            </li>
            <li class="submitForm">
                <a href="{{ path('admin_company_edit', { 'slug': company.slug }) }}" data-toggle="tooltip"
                   data-placement="right"
                   title="Editer Organisme"><i
                            class="fa fa-pencil fa-admin"></i></a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                <button class="fa-admin" data-toggle="tooltip" data-placement="right"
                        title="Supprimer Organisme" type="submit"><i class="fa fa-trash-o"></i></button>
                {{ form_end(delete_form) }}

            </li>
        </ul>
    </div>
    <h1>Company</h1>

    <div class="col-sm-6">
        <div class="col-sm-6">
            <h5>Id</h5>
            <span>{{ company.id }}</span>
        </div>
        <div class="col-sm-6">
            <h5>Nom</h5>
            <span>{{ company.name }}</span>
        </div>
        <div class="col-sm-6">
            <h5>Slug</h5>
            <span>{{ company.slug }}</span>
        </div>
        <div class="col-sm-6">
            <h5>Adresse</h5>
            <span>{{ company.address }}</span>
        </div>
        <div class="col-sm-6">
            <h5>CP</h5>
            <span>{{ company.zipCode }}</span>
        </div>
        <div class="col-sm-6">
            <h5>Ville</h5>
            <span>{{ company.city }}</span>
        </div>
        <div class="col-sm-6">
            <h5>Activities</h5>
            <span>
                    {% if company.activities %}
                        {% for activity in company.activities %}
                            <span class="label label-primary"> {{ activity.name }}</span>
                        {% endfor %}
                    {% endif %}
                </span>
        </div>
        <div class="col-sm-12">
            <h5>Présentation</h5>
            <span>{{ company.presentation }}</span>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="col-sm-6">
            <h5>Logo</h5>
            <span>{{ company.logo }}</span>
        </div>
        <div class="col-sm-6">
            <h5>Url</h5>
            <span>{{ company.url }}</span>
        </div>
        <div class="col-sm-6">
            <h5>Facebook</h5>
            <span>{{ company.facebook }}</span>
        </div>
        <div class="col-sm-6">
            <h5>Linkedin</h5>
            <span>{{ company.linkedin }}</span>
        </div>
        <div class="col-sm-6">
            <h5>Twitter</h5>
            <span>{{ company.twitter }}</span>
        </div>
        <div class="col-sm-6">
            <h5>Prénom du contact</h5>
            <span>{{ company.contactFirstName }}</span>
        </div>
        <div class="col-sm-6">
            <h5>Nom du contact</h5>
            <span>{{ company.contactLastName }}</span>
        </div>
        <div class="col-sm-6">
            <h5>Téléphone du contact</h5>
            <span>{{ company.contactPhone }}</span>
        </div>
        <div class="col-sm-6">
            <h5>Email du contact</h5>
            <span>{{ company.contactEmail }}</span>
        </div>
    </div>

{% endblock %}
