{% extends 'private/admin/baseAdmin.html.twig' %}

{% block body %}

    <div class="menu-admin menu-project">
        <ul>
            <li>
                <a href="{{ path('admin_project_index') }}" data-toggle="tooltip" data-placement="right"
                   title="Liste Projets"><i class="fa fa-archive fa-admin"></i></a>
            </li>
            <li>
                <a href="{{ path('admin_project_new') }}" data-toggle="tooltip" data-placement="right"
                   title="Nouveau Projet"><i
                            class="fa fa-plus fa-admin"></i></a>
            </li>
            <li>
                <a onclick="document.projet.submit();" data-toggle="tooltip" data-placement="right"
                   title="Nouvel Utilisateur"><i class="fa fa-check fa-admin"></i></a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                <button class="fa-admin" data-toggle="tooltip" data-placement="right"
                        title="Supprimer l'Utilisateur" type="submit"><i class="fa fa-trash-o"></i></button>
                {{ form_end(delete_form) }}

            </li>
        </ul>
    </div>
    <h1>Project edit</h1>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    {{ form_start(upload_form) }}
                    {{ form_widget(upload_form) }}

                    {{ form_end(upload_form) }}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>


    {{ form_start(edit_form) }}
    <div class="form-group row">
        <div class="col-sm-6">
            <div class="col-sm-12">
                {{ form_label(edit_form.title, "Titre du projet *") }}
                {{ form_widget(edit_form.title) }}
            </div>
            <div class="col-sm-6">
                {{ form_label(edit_form.creationDate) }}
                {{ form_widget(edit_form.creationDate) }}
            </div>
            <div class="col-sm-6">
                {{ form_label(edit_form.updateDate) }}
                {{ form_widget(edit_form.updateDate) }}
            </div>
            <div class="col-sm-12">
                {% if project.images %}
                    {% for image in project.images %}
                        {% set img = 'upload/project/' ~ project.id ~ '/' ~ image %}
                        {% set imglink = 'upload-project-' ~ project.id ~ '-' ~ image %}
                        <div style="background-image: url('{{ asset(img) }}')" class="adminImageProject col-sm-3">
                            <i class="fa fa-trash fa-admin-mini" onclick="deleteFile('{{ imglink }}')"></i>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if project.images|length < 4 %}
                    <div class="adminImageProject col-sm-3">
                        <i class="fa fa-upload fa-admin" data-toggle="modal" data-target="#myModal"></i>
                    </div>
                {% endif %}

            </div>
            <div class="col-sm-12">
                <div class="col-sm-3">
                    {{ form_label(edit_form.projectDate) }}
                    {{ form_widget(edit_form.projectDate) }}
                </div>
                <div class="col-sm-3">
                    {{ form_label(edit_form.projectCoFinance) }}
                    {{ form_widget(edit_form.projectCoFinance) }}
                </div>
                <div class="col-sm-3">
                    {{ form_label(edit_form.projectDuration) }}
                    {{ form_widget(edit_form.projectDuration) }}
                </div>
                <div class="col-sm-3">
                    {{ form_label(edit_form.projectCost) }}
                    {{ form_widget(edit_form.projectCost) }}
                </div>
            </div>
            <div class="col-sm-12">
                {{ form_label(edit_form.descResume) }}
                {{ form_widget(edit_form.descResume, {'attr': {
                    'rows':'3'} }) }}

            </div>
            <div class="col-sm-12">
                {{ form_label(edit_form.descContext) }}
                {{ form_widget(edit_form.descContext, {'attr': {
                    'rows':'4'} }) }}
            </div>
            <div class="col-sm-12">
                {{ form_label(edit_form.descGoal) }}
                {{ form_widget(edit_form.descGoal, {'attr': {
                    'rows':'4'} }) }}
            </div>
            <div class="col-sm-12">
                {{ form_label(edit_form.descProgress) }}
                {{ form_widget(edit_form.descProgress, {'attr': {
                    'rows':'7'} }) }}
            </div>
            <div class="col-sm-12">
                {{ form_label(edit_form.descPartners) }}
                {{ form_widget(edit_form.descPartners, {'attr': {
                    'rows':'4'} }) }}
            </div>
            <div class="col-sm-12">
                {{ form_label(edit_form.descResults) }}
                {{ form_widget(edit_form.descResults, {'attr': {
                    'rows':'4'} }) }}
            </div>
            <div class="col-sm-12">
                {{ form_label(edit_form.descDifficulties) }}
                {{ form_widget(edit_form.descDifficulties, {'attr': {
                    'rows':'4'} }) }}
            </div>
            <div class="col-sm-12">
                {{ form_label(edit_form.descAdvices) }}
                {{ form_widget(edit_form.descAdvices, {'attr': {
                    'rows':'4'} }) }}
            </div>


        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-1">
                    <i class="fa fa-link fa-admin-mini"></i>
                </div>
                <div class="col-sm-11">
                    {{ form_widget(edit_form.url) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1">
                    <i class="fa fa-youtube fa-admin-mini"></i>
                </div>
                <div class="col-sm-11">
                    {{ form_widget(edit_form.youtube) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1">
                    <i class="fa fa-facebook fa-admin-mini"></i>
                </div>
                <div class="col-sm-11">
                    {{ form_widget(edit_form.facebook) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1">
                    <i class="fa fa-twitter fa-admin-mini"></i>
                </div>
                <div class="col-sm-11">
                    {{ form_widget(edit_form.twitter) }}
                </div>
            </div>

            <label>Thematiques</label>

            <div class="row">
                <div class="col-sm-4">
                    {% set nbthema = edit_form.themes|length %}
                    {% set col =  nbthema/3 %}
                    {% set col = col|round %}
                    {% for thema in edit_form.themes %}
                    {{ form_errors(thema) }}
                    <div>
                        <input type="checkbox" id="{{ thema.vars.id }}"
                               name="{{ thema.vars.full_name }}" value="{{ thema.vars.value }}" class="check-limit"
                                {% if thema.vars.checked == true %} checked {% endif %}

                        >
                        <label for="{{ thema.vars.id }}">{{ thema.vars.label }}</label>
                    </div>
                    {% if (loop.index == col) or (loop.index == col*2) %}
                </div>
                <div class="col-sm-4">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>


            <label>Mots Clé</label>
            <div class="row">
                <div class="col-sm-4">
                    {% set nbKeyword = edit_form.keyWords|length %}
                    {% set col =  nbKeyword/3 %}
                    {% set col = col|round %}
                    {% for keyWord in edit_form.keyWords %}
                    {{ form_errors(keyWord) }}
                    <div>
                        <input type="checkbox" id="{{ keyWord.vars.id }}"
                               name="{{ keyWord.vars.full_name }}" value="{{ keyWord.vars.value }}"
                               class="check-limit">
                        <label for="{{ keyWord.vars.id }}">{{ keyWord.vars.label }}</label>
                    </div>
                    {% if (loop.index == col) or (loop.index == col*2) or (loop.index == col*3) %}
                </div>
                <div class="col-sm-4">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>

        </div>

    </div>










    <input type="submit" value="Edit"/>
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('admin_project_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>

{% endblock %}
{% block javascripts %}
    <script>

        function deleteFile(file) {
            $.ajax({
                type: "GET",
                url: "/deletefile/" + file,
                success: function () {
                    location.reload();
                    console.log("File Delete")
                },
                error: function () {
                    alert("la photo ne peu pas être supprimée")
                }
            })

        }

    </script>
{% endblock %}