{% extends 'private/admin/baseAdmin.html.twig' %}

{% block body %}


    <div class="menu-admin menu-project">
        <ul>
            <li>
                <a href="{{ path('admin_project_index') }}" data-toggle="tooltip" data-placement="right"
                   title="Liste Projets"><i class="fa fa-archive fa-admin"></i></a>
            </li>
            <li>
                <a href="{{ path('admin_project_new') }}" data-toggle="tooltip" data-placement="right"
                   title="Nouveau Projet"><i
                            class="fa fa-plus fa-admin"></i></a>
            </li>
        </ul>
    </div>
    <h1>Projects list</h1>






    {#<table>
        <thead>
        <tr>
            <th>Actions</th>
            <th>Id</th>
            <th>Title</th>
            <th>Theme</th>
            <th>Creationdate</th>
            <th>Updatedate</th>
            <th>Image</th>
            <th>Projectdate</th>
            <th>Projectduration</th>
            <th>Projectcost</th>
            <th>Projectcofinance</th>
            <th>Descresume</th>
            <th>Desccontext</th>
            <th>Descgoal</th>
            <th>Descprogress</th>
            <th>Descpartners</th>
            <th>Descresults</th>
            <th>Descdifficulties</th>
            <th>Descadvices</th>
            <th>Contactname</th>
            <th>Contactoccupation</th>
            <th>Contactemail</th>
            <th>Contactphone</th>
            <th>File</th>
            <th>Url</th>
            <th>Youtube</th>
            <th>Facebook</th>
            <th>Twitter</th>
            <th>Keywords</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>#}
    {% for key, project in projects %}

        <h4 data-toggle="collapse" data-target="#project_{{ key }}">
            <div class="row">
                <div class="col-xs-1">
                    <a href="{{ path('admin_project_show', { 'id': project.id }) }}"><i class="fa fa-eye fa-admin-mini"></i></a>
                    <a href="{{ path('admin_project_edit', { 'id': project.id }) }}"><i class="fa fa-pencil fa-admin-mini"></i></a>
                </div>
                <div class="col-xs-5">
                    {{ project.title }} <span class="caret"></span>
                </div>
                <div class="col-xs-6 text-right">
                    Crée : <span
                            class="label label-primary">{% if project.creationDate %}{{ project.creationDate|date('d-m-Y') }}{% endif %}</span>
                    Modifié : <span
                            class="label label-primary">{% if project.updateDate %}{{ project.updateDate|date('d-m-Y') }}{% endif %}</span>

                </div>
            </div>


        </h4>

        <div id="project_{{ key }}" class="collapse">

            <div class=" jumbotron">
                <div class="row">
                    <div class="col-xs-2">
                        {% for theme in project.themes %}
                            <span class="label label-themat">{{ theme }}</span>
                        {% endfor %}
                    </div>
                    <div class="col-xs-2">
                        {% for img in project.images %}
                            <img src="{{ img }}" alt="" width="50px">
                        {% endfor %}

                    </div>
                    <div class="col-xs-2">
                        <a href="{{ project.url }}"><i class="fa fa-link fa-admin"></i></a>
                        <a href="{{ project.youtube }}"><i class="fa fa-youtube-square fa-admin"></i></a>
                        <a href="{{ project.facebook }}"><i class="fa fa-facebook-square fa-admin"></i></a>
                        <a href="{{ project.twitter }} "><i class="fa fa-twitter-square fa-admin"></i></a>
                    </div>
                    <div class="col-xs-2">

                    </div>
                    <div class="col-xs-3">
                        <table>
                            <thead>
                            <tr>
                                <th>Date du Projet</th>
                                <th>Durée</th>
                                <th>Cout</th>
                                <th>Cofinancement</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{% if project.projectDate %}{{ project.projectDate|date('d-m-Y') }}{% endif %}</td>
                                <td>{{ project.projectDuration }}</td>
                                <td>{{ project.projectCost }}</td>
                                <td>{{ project.projectCoFinance }}</td>
                            </tr>
                            </tbody>
                        </table>


                    </div>

                </div>
            </div>


        </div>




        {#<tr>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_project_show', { 'id': project.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_project_edit', { 'id': project.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
            <td><a href="{{ path('admin_project_show', { 'id': project.id }) }}">{{ project.id }}</a></td>
            <td>{{ project.title }}</td>
            <td>{{ project.theme }}</td>
            <td>{% if project.creationDate %}{{ project.creationDate|date('d-m-Y') }}{% endif %}</td>
            <td>{% if project.updateDate %}{{ project.updateDate|date('d-m-Y') }}{% endif %}</td>
            <td>{{ project.image }}</td>
            <td>{% if project.projectDate %}{{ project.projectDate|date('d-m-Y') }}{% endif %}</td>
            <td>{{ project.projectDuration }}</td>
            <td>{{ project.projectCost }}</td>
            <td>{{ project.projectCoFinance }}</td>
            <td>{{ project.descResume }}</td>
            <td>{{ project.descContext }}</td>
            <td>{{ project.descGoal }}</td>
            <td>{{ project.descProgress }}</td>
            <td>{{ project.descPartners }}</td>
            <td>{{ project.descResults }}</td>
            <td>{{ project.descDifficulties }}</td>
            <td>{{ project.descAdvices }}</td>
            <td>{{ project.contactName }}</td>
            <td>{{ project.contactOccupation }}</td>
            <td>{{ project.contactEmail }}</td>
            <td>{{ project.contactPhone }}</td>
            <td>{{ project.file }}</td>
            <td>{{ project.url }}</td>
            <td>{{ project.youtube }}</td>
            <td>{{ project.facebook }}</td>
            <td>{{ project.twitter }}</td>
            <td>{{ project.keyWords }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_project_show', { 'id': project.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_project_edit', { 'id': project.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>#}
    {% endfor %}
    {# </tbody>
 </table>

 <ul>
     <li>
         <a href="{{ path('admin_project_new') }}">Create a new project</a>
     </li>
 </ul>#}
{% endblock %}
