{% extends 'private/admin/baseAdmin.html.twig' %}

{% block body %}
    <div class="menu-admin menu-project">
        <ul>
            <li>
                <a href="{{ path('admin_project_index') }}" data-toggle="tooltip" data-placement="right"
                   title="Liste Projets"><i class="fa fa-archive fa-admin"></i></a>
            </li>
            <li>
                <a href="{{ path('admin_project_new') }}" data-toggle="tooltip" data-placement="right"
                   title="Nouveau Projet"><i
                            class="fa fa-plus fa-admin"></i></a>
            </li>
        </ul>
    </div>
    <h1>Nouveau projet</h1>
    {{ form_start(form) }}

    <div class="row">
        <div class="col-sm-10">
            <h3 class="label erreur">{{ form_label(form.title, "Pour commencer, merci de donner un nom a votre projet. Il pourra être modifié par la suite.") }}</h3>
            {{ form_widget(form.title) }}
            <div id="errorTitle"></div>
        </div>
        <div class="col-sm-2">
            <a class="submitForm hidden" data-toggle="tooltip" data-placement="right"
               title="Nouveau Projet">
                <i class="fa fa-check fa-admin"></i>
            </a>
        </div>
    </div>

    {{ form_widget(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}

{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('#projet_title').keyup(function () {
                var title = $(this).val();

                if (title.length >= 5) {
                    $(".submitForm").removeClass("hidden");
                    $(".label").removeClass("erreur");
                }else {
                    $(".submitForm").addClass("hidden");
                    $(".label").addClass("erreur");
                }

            });
        });

        $(".submitForm").click(function () {
            var title = $("input[name='projet[title]']").val();
            if (title !== '') {
                $("form[name='{{ form.vars.name }}']").submit();
            }
            else {
                $("#errorTitle").html("<strong>Le titre est obligatoire!</strong>");
            }
        });
    </script>
{% endblock %}