{% extends 'private/admin/baseAdmin.html.twig' %}

{% block body %}
    <h1>Liste des favoris</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for favorite in favorites %}
            <tr>
                <td><a href="{{ path('admin_favorite_show', { 'id': favorite.id }) }}">{{ favorite.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_favorite_show', { 'id': favorite.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_favorite_edit', { 'id': favorite.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_favorite_new') }}">Create a new favorite</a>
        </li>
    </ul>
{% endblock %}
