{% extends 'private/admin/baseAdmin.html.twig' %}
{% block title %}Admin home{% endblock %}
{% block body %}

    <div class="menu-admin menu-project">
        <ul>
            <li>
                <a href="{{ path('admin_mayor_index') }}" data-toggle="tooltip" data-placement="right"
                   title="Liste Maires"><i class="fa fa-archive fa-admin"></i></a>
            </li>
            <li>
                <a href="{{ path('admin_mayor_new') }}" data-toggle="tooltip" data-placement="right"
                   title="Nouveau Maire"><i
                            class="fa fa-plus fa-admin"></i></a>
            </li>
        </ul>
    </div>
    <h1>Administration Wiki des Maires</h1>
    <div class="row">
        <div class="col-xs-3">
            <h5>Projets sur les 6 derniers mois</h5>
            <div class="jumbotron">
                <canvas id="project-history" width="200px" height="200px"></canvas>
            </div>
        </div>
        <div class="col-xs-3">
            <h5>Total des projets par statut</h5>
            <div class="jumbotron">
                <canvas id="project-pie" width="200px" height="200px"></canvas>
            </div>
        </div>
        <div class="col-xs-3">
            <h5>Statut des utilisateurs</h5>
            <div class="jumbotron">
                <canvas id="user-valid" width="200px" height="200px"></canvas>
            </div>
        </div>
        <div class="col-xs-3">
            <h5>Derniers utilisateurs connectés</h5>
            <div class="jumbotron">
                <ul class="row stat-user">
                    <li class="col-xs-4 text-center"><h5><i class="fa fa-male"></i> Maire</h5></li>
                    <li class="col-xs-4 text-center"><h5><i class="fa fa-briefcase"></i> Partenaire</h5></li>
                    <li class="col-xs-4 text-center"><h5><i class="fa fa-certificate"></i> Admin</h5></li>
                </ul>

                {% for user in stats.lastLogin %}
                    <div class="row stat">
                        <div class="col-sm-1">
                            {% if user.mayor is defined and user.mayor is not null and user.role == 1 %}
                                {% set name = user.mayor.town %}
                                <a href="{{ path('admin_user_show', {'id': user.id }) }}">
                                    <i class="fa fa-male fa-admin-mini"></i>
                                </a>
                            {% elseif user.partner is defined and user.partner is not null  and user.role == 2 %}
                                {% set name = user.partner.company.name %}
                                <a href="{{ path('admin_user_show', {'id': user.id }) }}">
                                    <i class="fa fa-briefcase fa-admin-mini"></i>
                                </a>
                            {% else %}
                                {% set name = user.login %}
                                <a href="{{ path('admin_user_show', {'id': user.id }) }}">
                                    <i class="fa fa-certificate fa-admin-mini"></i>
                                </a>
                            {% endif %}
                        </div>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-sm-12">
                                    {{ name }}
                                </div>
                                <div class="col-sm-12">
                                    {{ user.lastLogin|date("d/m") }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">

        {% if stats.bestProject is defined %}
            <div class="col-sm-3">
                <h5>Projet les plus mis en favorie</h5>
                <div class="jumbotron">
                    {% for project in stats.bestProject %}
                        <h5 class="row stat">
                            <div class="col-sm-10">{{ project.project.title }}</div>
                            <div class="col-sm-2">
                                <a href="{{ path('admin_project_show', {
                                    'slug' : project.project.slug
                                }) }}">
                                    <i class="fa-admin-mini">{{ project.count }}</i>
                                </a>
                            </div>
                        </h5>
                    {% endfor %}
                </div>
            </div>
        {% endif %}


        {% if stats.bestTheme is defined %}
            <div class="col-sm-3">
                <h5>Thematique les plus utilisé</h5>
                <div class="jumbotron">
                    {% for theme in stats.bestTheme %}
                        <h5 class="row stat">
                            <div class="col-sm-10">
                                {{ theme.theme.name|slice(0,20) }}
                            </div>
                            <div class="col-sm-2">
                                <i class="fa-admin-mini">{{ theme.count }}</i>
                            </div>
                        </h5>
                    {% endfor %}
                </div>
            </div>
        {% endif %}


    </div>

{% endblock %}
        {% block javascripts %}
            <script>
                new Chart(document.getElementById("project-pie"), {
                    "type": "pie",
                    "data": {
                        "labels": [
                            "publiés",
                            "en attente",
                            "en brouillon"],
                        "datasets": [{
                            "label": "Les projets",
                            "data": [{{ stats.project.publish }}, {{ stats.project.waiting }}, {{ stats.project.draft }}],
                            "backgroundColor": ["rgb(54, 162, 235)", "rgb(255, 99, 132)", "rgb(255, 205, 86)"]
                        }]
                    }
                });

                var projecthistory = new Chart(document.getElementById("project-history"), {
                    type: 'bar',
                    data: {
                        labels: [{% for key, value in stats.project.history|reverse %}"{{ key }}",{% endfor %} ],
                        datasets: [{
                            label: '# de projets',
                            data: [{% for key, value in stats.project.history|reverse %}{{ value }},{% endfor %}],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255,99,132,1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    }
                });

                var uservalid = new Chart(document.getElementById("user-valid"), {
                    type: 'horizontalBar',
                    data: {
                        labels: [{% for key, value in stats.user|reverse %}"{{ key }} {{ value }}",{% endfor %} ],
                        datasets: [{
                            label: '# utilisateur',
                            data: [{% for key, value in stats.user|reverse %}{{ value }},{% endfor %}],
                            backgroundColor: [
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(255, 206, 86, 0.2)'
                            ],
                            borderColor: [
                                'rgba(54, 162, 235, 1)',
                                'rgba(255,99,132,1)',
                                'rgba(255, 206, 86, 1)'
                            ],
                            borderWidth: 1
                        }]
                    }
                });

            </script>
        {% endblock %}