<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% endblock %} - Administration</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<header>
    <div class="col-md-2">
        <div class="dropdown">
            <p class="login" data-toggle="dropdown">
                <i class="fa fa-user"></i>
                {{ app.user.username }}
                <span class="caret"></span>
            </p>
            <ul class="dropdown-menu">
                <li><a href="{{ path('home') }}">Retour au Wiki des Maires</a></li>
                <li><a href="{{ path('logout') }}">Déconnexion</a></li>
            </ul>
        </div>
        <p class="login"></p>
    </div>
</header>
<nav>
    <ul>
        <li class="sidenav-user {% if app.request.attributes.get('_route') | slice(0, 11) == 'admin_index' %} active-user {% endif %}">
            <a href="{{ path('admin_index') }}">
                <i class="fa fa-home"></i> Accueil
            </a>
        </li>
        <li class="sidenav-user {% if app.request.attributes.get('_route') | slice(0, 10) == 'admin_user' %} active-user {% endif %}">
            <a href="{{ path('admin_user_index') }}">
                <i class="fa fa-users"></i> Users
            </a>
        </li>
        <li class="sidenav-project {% if app.request.attributes.get('_route') | slice(0, 13) == 'admin_project' %} active-project {% endif %}"
        >
            <a href="{{ path('admin_project_index') }}">
                <i class="fa fa-file-text "></i> Projets
            </a>
        </li>
        <li class="sidenav-publicpage {% if app.request.attributes.get('_route') | slice(0, 16) == 'admin_publicpage' %} active-publicpage {% endif %}"
        >
            <a href="{{ path('admin_publicpage_index') }}">
                <i class="fa fa-columns"></i> Pages publiques
            </a>
        </li>
        <li class="sidenav-dictionary {% if app.request.attributes.get('_route') | slice(0, 16) == 'admin_dictionary' %} active-dictionary {% endif %}"
        >
            <a href="{{ path('admin_dictionary_index') }}">
                <i class="fa fa-book"></i> Dictionnaire
            </a>
        </li>
    </ul>
</nav>
<section>
    <div class="container-fluid">
        <div class="content">
            {% block body %}
            {% endblock %}
        </div>
    </div>
</section>
<footer class="page-footer">

    <a href="{{ path('home') }}">Retour sur le Wiki des maires</a>

</footer>

{% include 'components/script.html.twig' %}
<script>
    $(document).ready(function () {
        $('textarea').summernote({
            height: 150,
            toolbar: [
                // [groupName, [list of button]]
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['misc', ['codeview']]

            ]
        });
    });
</script>
{% block javascripts %}{% endblock %}
</body>
</html>